/* Inter - Thin (400) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: local('Inter'),
      url('../fonts/Inter-Thin.otf') format('opentype'),
      url('../fonts/Inter-Thin.ttf') format('ttf'),
      url('../fonts/Inter-Thin.woff') format('woff');
}

/* Inter - ExtraLight (200) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local('Inter'),
      url('../fonts/Inter-ExtraLight.otf') format('opentype'),
      url('../fonts/Inter-ExtraLight.ttf') format('ttf'),
      url('../fonts/Inter-ExtraLight.woff') format('woff');
}

/* Inter - Light (300) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local('Inter'),
      url('../fonts/Inter-Light.otf') format('opentype'),
      url('../fonts/Inter-Light.ttf') format('ttf'),
      url('../fonts/Inter-Light.woff') format('woff');
}

/* Inter - Regular (400) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'),
      url('../fonts/Inter-Regular.otf') format('opentype'),
      url('../fonts/Inter-Regular.ttf') format('ttf'),
      url('../fonts/Inter-Regular.woff') format('woff');
}

/* Inter - Medium (500) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter'),
      url('../fonts/Inter-Medium.otf') format('opentype'),
      url('../fonts/Inter-Medium.ttf') format('ttf'),
      url('../fonts/Inter-Medium.woff') format('woff');
}

/* Inter - SemiBold (600) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local('Inter'),
      url('../fonts/Inter-SemiBold.otf') format('opentype'),
      url('../fonts/Inter-SemiBold.ttf') format('ttf'),
      url('../fonts/Inter-SemiBold.woff') format('woff');
}

/* Inter - Bold (700) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'),
      url('../fonts/Inter-Bold.otf') format('opentype'),
      url('../fonts/Inter-Bold.ttf') format('ttf'),
      url('../fonts/Inter-Bold.woff') format('woff');
}

/* Inter - ExtraBold (800) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local('Inter'),
      url('../fonts/Inter-ExtraBold.otf') format('opentype'),
      url('../fonts/Inter-ExtraBold.ttf') format('ttf'),
      url('../fonts/Inter-ExtraBold.woff') format('woff');
}

/* Inter - Black (900) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local('Inter'),
      url('../fonts/Inter-Black.otf') format('opentype'),
      url('../fonts/Inter-Black.ttf') format('ttf'),
      url('../fonts/Inter-Black.woff') format('woff');
}

/* SK_Btv - Light (300) */
@font-face {
  font-family: 'SK_Btv';
  font-style: normal;
  font-weight: 300;
  src: local('SK_Btv'),
      url('../fonts/SK_Btv_OTF_Light.otf') format('opentype');
}

/* SK_Btv - Medium (400) */
@font-face {
  font-family: 'SK_Btv';
  font-style: normal;
  font-weight: 400;
  src: local('SK_Btv'),
      url('../fonts/SK_Btv_OTF_Medium.otf') format('opentype');
}

/* SK_Btv - Bold (700) */
@font-face {
  font-family: 'SK_Btv';
  font-style: normal;
  font-weight: 700;
  src: local('SK_Btv'),
      url('../fonts/SK_Btv_OTF_Bold.otf') format('opentype');
}