<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="cache-control" content="no-cache" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon.ico" />
  <link rel="stylesheet" href="@@path/assets/css/style.css" />
  <script src="@@path/assets/js/default.js"></script>
  <script src="@@path/assets/js/common.js"></script>
  <title>@@title</title>
</head>
