<div class="lnb-container">
  <div class="lnb-area">
    <ul class="lnb-list-box">
      <li class="lnb-list @@if(title === 'overview') {active}">
        <a href="@@path/overview/overview.html" class="lnb-link"><span class="text">Overview</span></a>
      </li>
      <li class="lnb-list @@if(title === 'principle') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="@@path/principle/principle.html" class="lnb-link"><span class="text">Principle</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'tv') {active}">
            <a href="@@path/principle/tv.html" class="lnb-sub-link"><span class="text">TV Environment</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'contents') {active}">
            <a href="@@path/principle/contents.html" class="lnb-sub-link"><span class="text">Contents</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'navigation') {active}">
            <a href="@@path/principle/navigation.html" class="lnb-sub-link"><span class="text">Navigation</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'legacy') {active}">
            <a href="@@path/principle/legacy.html" class="lnb-sub-link"><span class="text">Respect for Legacy</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'accessibility') {active}">
            <a href="@@path/principle/accessibility.html" class="lnb-sub-link"
              ><span class="text">Accessibility</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="lnb-select-box">
      <span id="lnb_select_label">Apple TV OS</span>
      <div>
        <ul>
          <li id="platform_ios"><a href="@@path/foundation/ios/foundation.html">Apple TV OS</a></li>
          <li id="platform_web"><a href="@@path/foundation/web/foundation.html">Android TV OS</a></li>
        </ul>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          if (window.location.href.includes('ios')) {
            document.getElementById('platform_ios').classList.add('active');
            document.getElementById('lnb_select_label').innerText = 'Apple TV OS';

            document.getElementById('platform_ios_list').style.display = 'block';
            document.getElementById('platform_web_list').style.display = 'none';
          }
          if (window.location.href.includes('web')) {
            document.getElementById('platform_web').classList.add('active');
            document.getElementById('lnb_select_label').innerText = 'Android TV OS';

            document.getElementById('platform_ios_list').style.display = 'none';
            document.getElementById('platform_web_list').style.display = 'block';
          }
          if (
            window.location.href.includes('components/web/checkbox') ||
            window.location.href.includes('components/web/radio') ||
            window.location.href.includes('components/web/switch')
          ) {
            document.getElementById('platform_web_components_controls').style.display = 'block';
          }

          if (window.location.href.includes('components/web')) {
            if (window.location.href.includes('components/web/components')) {
              document.getElementById('platform_web_components').style.display = 'none';
            } else {
              document.getElementById('platform_web_components').style.display = 'block';
            }
          }

          if (window.location.href.includes('foundation/web')) {
            if (window.location.href.includes('foundation/web/foundation')) {
              document.getElementById('platform_web_foundation').style.display = 'none';
            } else {
              document.getElementById('platform_web_foundation').style.display = 'block';
            }
          }
        });
      </script>
    </div>
    <ul class="lnb-list-box" id="platform_ios_list">
      <li class="lnb-list @@if(title === 'foundation') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="@@path/foundation/ios/foundation.html" class="lnb-link"><span class="text">Foundation</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'color') {active}">
            <a href="@@path/foundation/ios/color.html" class="lnb-sub-link"><span class="text">Color</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'typography') {active}">
            <a href="@@path/foundation/ios/typography.html" class="lnb-sub-link"
              ><span class="text">Typography</span></a
            >
          </li>
          <li class="lnb-sub-list @@if(title === 'iconography') {active}">
            <a href="@@path/foundation/ios/iconography.html" class="lnb-sub-link"
              ><span class="text">Iconography</span></a
            >
          </li>
          <li class="lnb-sub-list @@if(title === 'layout') {active}">
            <a href="@@path/foundation/ios/layout.html" class="lnb-sub-link"><span class="text">Layout</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'focus') {active}">
            <a href="@@path/foundation/ios/focus.html" class="lnb-sub-link"><span class="text">Focus</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'motion') {active}">
            <a href="@@path/foundation/ios/motion.html" class="lnb-sub-link"><span class="text">Motion</span></a>
          </li>
        </ul>
      </li>
      <li class="lnb-list @@if(title === 'components') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="@@path/components/ios/components.html" class="lnb-link"><span class="text">Components</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'badges') {active}">
            <a href="@@path/components/ios/badges.html" class="lnb-sub-link"><span class="text">Badges</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'buttons') {active}">
            <a href="@@path/components/ios/buttons.html" class="lnb-sub-link"><span class="text">Buttons</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'controls') {active}">
            <button class="btn-sub-open"><i class="icon ic-arrow"></i></button>
            <a href="@@path/components/ios/checkbox.html" class="lnb-sub-link"><span class="text">Controls</span></a>
            <ul class="lnb-last-list-box">
              <li class="lnb-last-list @@if(title === 'checkbox') {active}">
                <a href="@@path/components/ios/checkbox.html" class="lnb-last-link"
                  ><span class="text">Checkbox</span></a
                >
              </li>
              <li class="lnb-last-list @@if(title === 'radio') {active}">
                <a href="@@path/components/ios/radio.html" class="lnb-last-link"
                  ><span class="text">Radio Button</span></a
                >
              </li>
              <li class="lnb-last-list @@if(title === 'switch') {active}">
                <a href="@@path/components/ios/switch.html" class="lnb-last-link"><span class="text">Switch</span></a>
              </li>
              <li class="lnb-last-list @@if(title === 'slider') {active}">
                <a href="@@path/components/ios/slider.html" class="lnb-last-link"><span class="text">Slider</span></a>
              </li>
            </ul>
          </li>
          <li class="lnb-sub-list @@if(title === 'gnb') {active}">
            <a href="@@path/components/ios/gnb.html" class="lnb-sub-link"><span class="text">GNB</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'inputs') {active}">
            <a href="@@path/components/ios/inputs.html" class="lnb-sub-link"><span class="text">Inputs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'ime') {active}">
            <a href="@@path/components/ios/ime.html" class="lnb-sub-link"><span class="text">IME</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'listcards') {active}">
            <a href="@@path/components/ios/list_cards.html" class="lnb-sub-link"
              ><span class="text">List Cards</span></a
            >
          </li>
          <li class="lnb-sub-list @@if(title === 'loading') {active}">
            <a href="@@path/components/ios/loading.html" class="lnb-sub-link"><span class="text">Loading</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'pagination') {active}">
            <a href="@@path/components/ios/pagination.html" class="lnb-sub-link"
              ><span class="text">Pagination</span></a
            >
          </li>
          <li class="lnb-sub-list @@if(title === 'player') {active}">
            <a href="@@path/components/ios/player.html" class="lnb-sub-link"><span class="text">Player</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'popup') {active}">
            <a href="@@path/components/ios/popup.html" class="lnb-sub-link"><span class="text">Pop up</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'splash') {active}">
            <a href="@@path/components/ios/splash.html" class="lnb-sub-link"><span class="text">Splash</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tabs') {active}">
            <a href="@@path/components/ios/tabs.html" class="lnb-sub-link"><span class="text">Tabs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tooltip') {active}">
            <a href="@@path/components/ios/tooltip.html" class="lnb-sub-link"><span class="text">Tooltip</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="lnb-list-box" id="platform_web_list" style="display: none">
      <li class="lnb-list @@if(title === 'foundation') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="@@path/foundation/web/foundation.html" class="lnb-link"><span class="text">Foundation</span></a>
        <ul class="lnb-sub-list-box" id="platform_web_foundation">
          <li class="lnb-sub-list @@if(title === 'color') {active}">
            <a href="@@path/foundation/web/color.html" class="lnb-sub-link"><span class="text">Color</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'typography') {active}">
            <a href="@@path/foundation/web/typography.html" class="lnb-sub-link"
              ><span class="text">Typography</span></a
            >
          </li>
          <li class="lnb-sub-list @@if(title === 'iconography') {active}">
            <a href="@@path/foundation/web/iconography.html" class="lnb-sub-link"
              ><span class="text">Iconography</span></a
            >
          </li>
          <li class="lnb-sub-list @@if(title === 'layout') {active}">
            <a href="@@path/foundation/web/layout.html" class="lnb-sub-link"><span class="text">Layout</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'focus') {active}">
            <a href="@@path/foundation/web/focus.html" class="lnb-sub-link"><span class="text">Focus</span></a>
          </li>
        </ul>
      </li>
      <li class="lnb-list @@if(title === 'components') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="@@path/components/web/components.html" class="lnb-link"><span class="text">Components</span></a>
        <ul class="lnb-sub-list-box" id="platform_web_components">
          <li class="lnb-sub-list @@if(title === 'buttons') {active}">
            <a href="@@path/components/web/buttons.html" class="lnb-sub-link"><span class="text">Buttons</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'controls') {active}">
            <button class="btn-sub-open"><i class="icon ic-arrow"></i></button>
            <a href="@@path/components/web/checkbox.html" class="lnb-sub-link"><span class="text">Controls</span></a>
            <ul class="lnb-last-list-box" id="platform_web_components_controls">
              <li class="lnb-last-list @@if(title === 'checkbox') {active}">
                <a href="@@path/components/web/checkbox.html" class="lnb-last-link"
                  ><span class="text">Checkbox</span></a
                >
              </li>
              <li class="lnb-last-list @@if(title === 'radio') {active}">
                <a href="@@path/components/web/radio.html" class="lnb-last-link"
                  ><span class="text">Radio Button</span></a
                >
              </li>
              <li class="lnb-last-list @@if(title === 'switch') {active}">
                <a href="@@path/components/web/switch.html" class="lnb-last-link"><span class="text">Switch</span></a>
              </li>
            </ul>
          </li>
          <li class="lnb-sub-list @@if(title === 'dropdown') {active}">
            <a href="@@path/components/web/dropdowns.html" class="lnb-sub-link"><span class="text">Dropdown</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'dock') {active}">
            <a href="@@path/components/web/dock.html" class="lnb-sub-link"><span class="text">Dock</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'flag') {active}">
            <a href="@@path/components/web/flag.html" class="lnb-sub-link"><span class="text">Flag</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'gnb') {active}">
            <a href="@@path/components/web/gnb.html" class="lnb-sub-link"><span class="text">GNB</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'inputs') {active}">
            <a href="@@path/components/web/inputs.html" class="lnb-sub-link"><span class="text">Inputs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'ime') {active}">
            <a href="@@path/components/web/ime.html" class="lnb-sub-link"><span class="text">IME</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'loading') {active}">
            <a href="@@path/components/web/loading.html" class="lnb-sub-link"><span class="text">Loading</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'menus') {active}">
            <a href="@@path/components/web/menus.html" class="lnb-sub-link"><span class="text">Menus</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'pagination') {active}">
            <a href="@@path/components/web/pagination.html" class="lnb-sub-link"
              ><span class="text">Pagination</span></a
            >
          </li>
          <li class="lnb-sub-list @@if(title === 'popup') {active}">
            <a href="@@path/components/web/popup.html" class="lnb-sub-link"><span class="text">Pop up</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tabs') {active}">
            <a href="@@path/components/web/tabs.html" class="lnb-sub-link"><span class="text">Tabs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tooltip') {active}">
            <a href="@@path/components/web/tooltip.html" class="lnb-sub-link"><span class="text">Tooltip</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
