<div class="lnb-container">
  <div class="lnb-area">
    <ul class="lnb-list-box">
      <li class="lnb-list @@if(title === 'overview') {active}">
        <a href="../overview/overview.html" class="lnb-link"><span class="text">Overview</span></a>
      </li>
      <li class="lnb-list @@if(title === 'principle') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="../principle/principle.html" class="lnb-link"><span class="text">Principle</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'tv') {active}">
            <a href="../principle/tv.html" class="lnb-sub-link"><span class="text">TV Environment</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'contents') {active}">
            <a href="../principle/contents.html" class="lnb-sub-link"><span class="text">Contents</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'navigation') {active}">
            <a href="../principle/navigation.html" class="lnb-sub-link"><span class="text">Navigation</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'legacy') {active}">
            <a href="../principle/legacy.html" class="lnb-sub-link"><span class="text">Respect for Legacy</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'accessibility') {active}">
            <a href="../principle/accessibility.html" class="lnb-sub-link"><span class="text">Accessibility</span></a>
          </li>
        </ul>
      </li>
      <li class="lnb-list @@if(title === 'foundation') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="../foundation/foundation.html" class="lnb-link"><span class="text">Foundation</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'color') {active}">
            <a href="../foundation/color.html" class="lnb-sub-link"><span class="text">Color</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'typography') {active}">
            <a href="../foundation/typography.html" class="lnb-sub-link"><span class="text">Typography</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'iconography') {active}">
            <a href="../foundation/iconography.html" class="lnb-sub-link"><span class="text">Iconography</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'layout') {active}">
            <a href="../foundation/layout.html" class="lnb-sub-link"><span class="text">Layout</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'focus') {active}">
            <a href="../foundation/focus.html" class="lnb-sub-link"><span class="text">Focus</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'motion') {active}">
            <a href="../foundation/motion.html" class="lnb-sub-link"><span class="text">Motion</span></a>
          </li>
        </ul>
      </li>
      <li class="lnb-list @@if(title === 'components') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="../components/components.html" class="lnb-link"><span class="text">Components</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'badges') {active}">
            <a href="../components/badges.html" class="lnb-sub-link"><span class="text">Badges</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'booting') {active}">
            <a href="../components/booting.html" class="lnb-sub-link"><span class="text">Booting</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'buttons') {active}">
            <a href="../components/buttons.html" class="lnb-sub-link"><span class="text">Buttons</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'controls') {active}">
            <button class="btn-sub-open"><i class="icon ic-arrow"></i></button>
            <a href="../components/checkbox.html" class="lnb-sub-link"><span class="text">Controls</span></a>
            <ul class="lnb-last-list-box">
              <li class="lnb-last-list @@if(title === 'checkbox') {active}">
                <a href="../components/checkbox.html" class="lnb-last-link"><span class="text">Checkbox</span></a>
              </li>
              <li class="lnb-last-list @@if(title === 'radio') {active}">
                <a href="../components/radio.html" class="lnb-last-link"><span class="text">Radio Button</span></a>
              </li>
              <li class="lnb-last-list @@if(title === 'switch') {active}">
                <a href="../components/switch.html" class="lnb-last-link"><span class="text">Switch</span></a>
              </li>
              <li class="lnb-last-list @@if(title === 'slider') {active}">
                <a href="../components/slider.html" class="lnb-last-link"><span class="text">Slider</span></a>
              </li>
            </ul>
          </li>
          <li class="lnb-sub-list @@if(title === 'dropdown') {active}">
            <a href="../components/dropdowns.html" class="lnb-sub-link"><span class="text">Dropdown</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'gnb') {active}">
            <a href="../components/gnb.html" class="lnb-sub-link"><span class="text">GNB</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'inputs') {active}">
            <a href="../components/inputs.html" class="lnb-sub-link"><span class="text">Inputs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'ime') {active}">
            <a href="../components/ime.html" class="lnb-sub-link"><span class="text">IME</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'listcards') {active}">
            <a href="../components/list_cards.html" class="lnb-sub-link"><span class="text">List Cards</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'loading') {active}">
            <a href="../components/loading.html" class="lnb-sub-link"><span class="text">Loading</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'pagination') {active}">
            <a href="../components/pagination.html" class="lnb-sub-link"><span class="text">Pagination</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'player') {active}">
            <a href="../components/player.html" class="lnb-sub-link"><span class="text">Player</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'popup') {active}">
            <a href="../components/popup.html" class="lnb-sub-link"><span class="text">Pop up</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'splash') {active}">
            <a href="../components/splash.html" class="lnb-sub-link"><span class="text">Splash</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tabs') {active}">
            <a href="../components/tabs.html" class="lnb-sub-link"><span class="text">Tabs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tooltip') {active}">
            <a href="../components/tooltip.html" class="lnb-sub-link"><span class="text">Tooltip</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
