<div class="lnb-container">
  <div class="lnb-area">
    <ul class="lnb-list-box">
      <li class="lnb-list @@if(title === 'overview') {active}">
        <a href="javascript:void(0)" class="lnb-link"><span class="text">Overview</span></a>
      </li>
      <li class="lnb-list @@if(title === 'principle') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="javascript:void(0)" class="lnb-link"><span class="text">Principle</span></a>
        <ul class="lnb-sub-list-box kor">
          <li class="lnb-sub-list @@if(title === 'structure') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">명확한 구조</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'accessibility') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">접근성</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'consistency') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">일관성</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'emphasis') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">강조</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tv') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">TV 해상도</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'search') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">탐색</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'hierarchy') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">계층구조</span></a>
          </li>
        </ul>
      </li>
      <li class="lnb-list @@if(title === 'foundation') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="javascript:void(0)" class="lnb-link"><span class="text">Foundation</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'typography') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Typography</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'icongraphy') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Icongraphy</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'color') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Color</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'grid') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Grid</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'focus') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Focus</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'motion') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Motion</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'image') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Image</span></a>
          </li>
        </ul>
      </li>
      <li class="lnb-list @@if(title === 'components') {active}">
        <button class="btn-open"><i class="icon ic-arrow"></i></button>
        <a href="javascript:void(0)" class="lnb-link"><span class="text">Components</span></a>
        <ul class="lnb-sub-list-box">
          <li class="lnb-sub-list @@if(title === 'badges') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Badges</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'booting') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Booting</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'buttons') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Buttons</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'controls') {active}">
            <button class="btn-sub-open"><i class="icon ic-arrow"></i></button>
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Controls</span></a>
            <ul class="lnb-last-list-box">
              <li class="lnb-last-list @@if(title === 'checkbox') {active}">
                <a href="javascript:void(0)" class="lnb-last-link"><span class="text">Checkbox</span></a>
              </li>
              <li class="lnb-last-list @@if(title === 'radio') {active}">
                <a href="javascript:void(0)" class="lnb-last-link"><span class="text">Radio Button</span></a>
              </li>
              <li class="lnb-last-list @@if(title === 'switch') {active}">
                <a href="javascript:void(0)" class="lnb-last-link"><span class="text">Switch</span></a>
              </li>
              <li class="lnb-last-list @@if(title === 'slider') {active}">
                <a href="javascript:void(0)" class="lnb-last-link"><span class="text">Slider</span></a>
              </li>
            </ul>
          </li>
          <li class="lnb-sub-list @@if(title === 'dropdown') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Dropdown</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'gnb') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">GNB</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'inputs') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Inputs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'ime') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">IME</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'listcards') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">List Cards</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'loading') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Loading</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'pagination') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Pagination</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'player') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Player</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'popup') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Pop up</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'splash') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Splash</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tabs') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Tabs</span></a>
          </li>
          <li class="lnb-sub-list @@if(title === 'tooltip') {active}">
            <a href="javascript:void(0)" class="lnb-sub-link"><span class="text">Tooltip</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>