<table>
  <caption style="display: none">
    @@caption
  </caption>
  <colgroup>
    <!-- prettier-ignore -->
    @@for (var i = 0; i < head.length; i++) {
    <col width="`+head[i].width+`" />
    }
  </colgroup>
  <thead>
    <tr>
      <!-- prettier-ignore -->
      @@for (var i = 0; i < head.length; i++) {
      <th>
        <span>`+head[i].title+`</span>
      </th>
      }
    </tr>
  </thead>
  <tbody>
    <!-- prettier-ignore -->
    @@for (var i = 0; i < body.length; i++) {
      @@include('../component/tr.html', `+(JSON.stringify(body[i]))+`)
    }
  </tbody>
</table>
