<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Buttons",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components"
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "buttons"
      })

      <!-- Components | Buttons -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Buttons</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">Button은 주요한 화면을 Trigger 하는데 사용되는 Action 가능한 컴포넌트입니다.</p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "components/buttons/buttons_image_01",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "Box Button"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "components/buttons/buttons_image_02",
                      "desc"  : {
                        "alphabet" : "B",
                        "desc"     : "Text Button"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "components/buttons/buttons_image_03",
                      "desc"  : {
                        "alphabet" : "C",
                        "desc"     : "Icon Button"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "components/buttons/buttons_image_04",
                      "desc"  : {
                        "alphabet" : "D",
                        "desc"     : "Floating Action Button"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_05",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_06",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon (Optional)",
                            "desc"  : "Button의 기능을 나타냅니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "사용자가 Button과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Container",
                            "desc"  : "Button의 형태를 나타내며 Box 또는 Line으로 표시될 수 있습니다."
                          })
                        </ul>
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon (Optional)",
                            "desc"  : "Button의 기능을 나타냅니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "사용자가 Button과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Under Line (Optional)",
                            "desc"  : "특정 기능 실행 시 Under Line을 결합해 사용합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_07",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_08",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon",
                            "desc"  : "Button의 기능을 나타냅니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text (Optional)",
                            "desc"  : "사용자가 Button과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Container",
                            "desc"  : "Button의 형태를 나타내며 Box 또는 Line으로 표시될 수 있습니다."
                          })
                        </ul>
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon",
                            "desc"  : "Button의 기능을 나타냅니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "사용자가 Button과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Container",
                            "desc"  : "Button의 형태를 나타내며 Box 또는 Line으로 표시될 수 있습니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "components/buttons/buttons_image_09",
                      "desc"  : "직관적인 이해를 돕기 위해 Icon과 Text를 함께 배치할 수 있습니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "components/buttons/buttons_image_010",
                      "desc"  : "사용자의 가독성을 고려하여 길고 복잡한 Text를 지양합니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_011",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_012",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_013",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_014",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Normal",
                            "desc"  : "활성화 된 상태의 일반적인 Button입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Focus",
                            "desc"  : "사용자가 화면상 위치를 쉽게 인식할 수 있도록 Focusing 된 상태의 Button입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Selected",
                            "desc"  : "사용자가 Button을 Select 한 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Dimmed",
                            "desc"  : "비활성화 된 상태의 Button입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button Hierarchy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Button Hierarchy</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">Large Button > Regular Button > Small Button 순으로 기능적 중요도를 구분합니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/buttons/buttons_image_015",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Small Button",
                            "desc"  : "부가 정보 및 기능을 제공하는 Button으로 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Regular Button",
                            "desc"  : "가장 일반적인 크기로, 화면 내 우선순위가 높은 주요 Action Button으로 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Large Button",
                            "desc"  : "가장 높은 강도로 강조할 때 사용합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Placement -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Placement</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- 1. 시선의 흐름에 따른 배치 -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title kor">1. 시선의 흐름에 따른 배치</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            List를 포함한 다른 Contents와 함께 사용할 경우 시선의 흐름에 따라 배치 및 사용을 권장합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box kor">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_016",
                            "desc"  : {
                              "alphabet" : null,
                              "desc"     : "좌측에서 우측으로 시선의 흐름에 따른 배치"
                            }
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_017",
                            "desc"  : {
                              "alphabet" : null,
                              "desc"     : "상단에서 하단으로 시선의 흐름에 따른 최하단 배치"
                            }
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 2. Button 배치 -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title kor">2. Button 배치</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            Button의 선택지를 2개로 제공할 때, 긍정을 의미하는 Button은 좌측에 위치하고 부정을 의미하는
                            Button은 우측에 배치하는 일관된 형태를 권장합니다. 우선 순위가 높은 순으로 좌측에서 우측으로
                            제공합니다.
                          </p>
                          <p class="desc red">
                            *구매화면의 결제 Button은 예외적으로 긍정의 Button이 우측에 사용됩니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_018",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 3. 화면 Layout에 따른 정렬 방식 -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title kor">3. 화면 Layout에 따른 정렬 방식</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            Button 정렬 방식은 화면의 Layout에 따라 달라질 수 있습니다.<br />기본적으로 Icon과 Text이
                            같이 제공될 경우 영역 내 중앙 정렬을 권장하며 화면 정렬 방법에 따라 좌측 정렬으로 사용
                            가능합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_019",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_020",
                            "desc"  : "좌측으로 Contents가 정렬 될 경우 좌측 정렬을 권장합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "components/buttons/buttons_image_021",
                            "desc"  : "Contents의 정렬 방법과 맞지 않는 정렬은 지양합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "components/buttons/buttons_image_022",
                            "desc"  : "일부만 정렬 방식을 바꾸는 것을 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Box Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">가장 일반적인 Button으로, 주요한 액션을 실행하는 Button으로 사용됩니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_023",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Text Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            Container가 없는 Text로만 구성된 Button으로 세로형 List로 사용되는 Text Button과 특정 기능을
                            실행시 사용되는 Under Line Button으로 구성되어 있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_024",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Icon Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            시각적인 힌트를 제공하며, 기능이 명확히 전달되지 않는 경우 Text를 함께 제공합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_025",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Floating Action Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            앱의 중요 기능에 빠르게 접근하는데 사용되며 원형 Container 안에 Icon과 Text를 세로로
                            배치합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_026",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Box Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            일반적으로 화면의 Contents 영역 또는 하단 영역에 배치하여 화면 내 중요한 작업에 사용됩니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_027",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_028",

                            "desc"  : "진행 상태를 Icon과 Text로 표시하여 작업의 중복 실행을 방지합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_029",
                            "desc"  : "Button이 나란히 있는 경우 Button의 중요도에 따라 크기를 조절합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_030",
                            "desc"  : "블록 영역에서 Poster와 Layout적인 통일감을 위해 동일한 크기의 Box Button을 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_031",
                            "desc"  : "일반적으로 Icon은 Text Color와 동일하며, Button 내 Icon은 Text 기준 좌측에 위치하는 것을 권장합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "exception",
                            "image" : "components/buttons/buttons_image_032",
                            "desc"  : "단일 선택을 해야하는 곳에서 Check Icon을 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "components/buttons/buttons_image_033",
                            "desc"  : "Box Button의 Background에 가시성을 해치는 Image나 Color 사용을 지양합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Text Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            세로형 List에 주로 사용되며, 더 보기와 접기 등 특정 기능을 실행 시 사용되는 Under Line
                            Button이 있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_034",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_035",
                            "desc"  : "정보의 이해를 도울 수 있는 디테일한 Icon을 결합하여 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_036",
                            "desc"  : "본문이 길어질 경우 Text Button에 Under Line을 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "exception",
                            "image" : "components/buttons/buttons_image_037",
                            "desc"  : "Button 중요도에 따라 다른 Button Type과 함께 사용합니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "components/buttons/buttons_image_038",
                            "desc"  : "Text Button을 본문과 구별이 불가능한 형태로 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Icon Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            Icon을 Button으로 사용하며 사용자가 보기에 충분히 이해할 수 있는 메타포일 경우 Text 없이
                            사용합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_039",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_040",
                            "desc"  : "Icon만으로는 기능을 명확히 전달하기 어려운 경우 Text를 함께 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_041",
                            "desc"  : "단일 항목을 활성화 할 수 있는 Icon Button으로 사용합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Floating Action Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">사용성이 많은 중요한 기능에 사용되며 화면 Layer 최상단에 위치합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/buttons/buttons_image_042",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/buttons/buttons_image_043",
                            "desc"  : "Floating Action Button의 경우 Contents 화면과의 Layer 계층을 명확하게 분리시켜야 합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list"><span class="list-title">States</span></li>
            <li class="quick-menu-list"><span class="list-title">Button Hierarchy</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Placement</span>
              <ul class="quick-menu-sub-list-box kor">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">1. 시선의 흐름에 따른 배치</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">2. Button 배치</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">3. 화면 Layout에 따른 정렬 방식 </span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Box Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Text Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Icon Button</span></li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Floating Action Button</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Box Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Text Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Icon Button</span></li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Floating Action Button</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
