<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Buttons",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "buttons",
        "path" : "../.."
      })

      <!-- Components | Buttons -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Buttons</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">트리거를 위해 사용되는 액션 가능한 컴포넌트입니다.</p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/buttons/buttons_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "Box Button"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/buttons/buttons_image_02.png",
                      "desc"  : {
                        "alphabet" : "B",
                        "desc"     : "Text Button"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/buttons/buttons_image_03.png",
                      "desc"  : {
                        "alphabet" : "C",
                        "desc"     : "Icon Button"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/buttons/buttons_image_04.png",
                      "desc"  : {
                        "alphabet" : "D",
                        "desc"     : "Floating Action Button"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_05.png",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_06.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon (Optional)",
                            "desc"  : "활성화 중인 기능을 노출할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "사용자가 버튼과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Container",
                            "desc"  : "액션 가능한 영역의 형태를 나타냅니다."
                          })
                        </ul>
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon (Optional)",
                            "desc"  : "실행 가능한 기능을 노출할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "사용자가 버튼과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Under Line (Optional)",
                            "desc"  : "기능을 강조하기 위해 라인을 결합해 사용할 수 있습니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_07.png",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_08.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon",
                            "desc"  : "기능을 강조하기 위해 라인을 결합해 사용할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text (Optional)",
                            "desc"  : "사용자가 버튼과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Container",
                            "desc"  : "액션 가능한 영역의 형태를 나타냅니다."
                          })
                        </ul>
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Icon",
                            "desc"  : "주요한 기능을 기호적 형상을 통해 나타냅니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "사용자가 버튼과 상호 작용할 때 발생할 동작을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Container",
                            "desc"  : "액션 가능한 영역의 형태를 나타냅니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/buttons/buttons_image_09.png",
                      "desc"  : "직관적인 이해를 돕기 위해 아이콘과 텍스트를 함께 배치할 수 있습니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/ios/components/buttons/buttons_image_010.png",
                      "desc"  : "사용자의 가독성을 고려하여 길고 복잡한 텍스트를 사용하지 않습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_011.png",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_012.png",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_013.png",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_014.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Normal",
                            "desc"  : "액션이 가능한 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Focus",
                            "desc"  : "제어할 수 있는 위치를 쉽게 인식할 수 있도록 강조된 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Selected",
                            "desc"  : "사용자와 상호작용하여 선택된 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Dimmed",
                            "desc"  : "액션이 가능하지 않은 상태입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button Hierarchy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Button Hierarchy</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">크기에 따라 기능적 중요도를 구분합니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/buttons/buttons_image_015.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Small Button",
                            "desc"  : "부가 정보 및 기능을 제공하기 위해 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Regular Button",
                            "desc"  : "액션을 위해 사용하는 기본적인 크기입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Large Button",
                            "desc"  : "화면 내 우선순위가 높아 강조할 때 사용합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Placement -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Placement</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- 1. 시선의 흐름에 따른 배치 -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title kor">1. 시선의 흐름에 따른 배치</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            리스트를 포함한 다른 콘텐츠와 함께 사용할 경우 시선의 흐름에 따라 배치합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box kor">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_016.png",
                            "desc"  : {
                              "alphabet" : null,
                              "desc"     : "좌측에서 우측으로 배치"
                            }
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_017.png",
                            "desc"  : {
                              "alphabet" : null,
                              "desc"     : "상단에서 하단으로 배치"
                            }
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 2. 긍정적 의미에 따른 배치 -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title kor">2. 긍정적 의미에 따른 배치</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            언어는 왼쪽에서 오른쪽으로 읽기 시작하여 긍정적인 요소를 왼쪽에 배치하면 더 자연스럽게
                            인지할 수 있습니다.<br />긍정을 의미하는 버튼은 좌측에 위치하고 부정을 의미하는 버튼은
                            우측에 배치하는 일관된 형태를 권장합니다.
                          </p>
                          <p class="desc red">
                            *다음 플로우로 연결되는 버튼의 경우에는 예외적으로 긍정의 의미가 우측에 사용됩니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_018.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 3. 화면 레이아웃에 따른 배치 -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title kor">3. 화면 레이아웃에 따른 배치</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            화면의 레이아웃에 따라 버튼을 배치할 수 있습니다.<br />아이콘과 텍스트를 함께 제공할 경우
                            중앙 정렬을 권장하지만 화면 정렬 방법에 따라 좌측 정렬로 사용할 수 있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_019.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_020.png",
                            "desc"  : "콘텐츠가 정렬 방식과 동일하게 버튼을 배치합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_021.png",
                            "desc"  : "화면 내 서로 다른 배치 방식은 가독성을 해칠 수 있어 사용하지 않습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_022.png",
                            "desc"  : "통일성을 해치는 정렬 방식은 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Box Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">주요한 액션을 실행하는 기본적인 타입으로 사용합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_023.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Text Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            버튼을 감싸는 영역이 없이 구성된 버튼으로 아이콘, 언더라인과 함께 구성할 수 있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_024.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Icon Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            기호적 형상을 통해 기능을 함축적으로 제공하는 버튼으로 텍스트를 함께 제공할 수 있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_025.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Floating Action Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            화면 최상단에 위치하는 버튼으로 주요한 기능에 빠르게 접근하기 위해 사용합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_026.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Box Button</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_027.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_028.png",

                            "desc"  : "진행 상태를 아이콘과 텍스트로 표시하여 사용할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_029.png",
                            "desc"  : "중요도에 따라 크기를 다르게 구성할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_030.png",
                            "desc"  : "콘텐츠 블록과 통일감을 위해 동일한 크기로 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_031.png",
                            "desc"  : "아이콘은 텍스트 좌측에 배치합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_032.png",
                            "desc"  : "가독성을 해치는 이미지 또는 컬러를 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Text Button</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_033.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_034.png",
                            "desc"  : "시각적으로 인식하기 쉽도록 아이콘과 함께 구성하여 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_035.png",
                            "desc"  : "기능을 강조하기 위해 언더라인을 사용할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_036.png",
                            "desc"  : "설명을 위한 텍스트와 액션을 위한 버튼을 동일한 스타일로 구성하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Icon Button</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_037.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_038.png",
                            "desc"  : "액션에 대한 보조 설명을 위해 텍스트와 함께 구성할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_039.png",
                            "desc"  : "아이콘 자체로 시각적 인식이 쉬운 경우 단독으로 사용할 수 있습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Floating Action Button</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_040.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/buttons/buttons_image_041.png",
                            "desc"  : "시각적 계층구조를 명확하게 분리하여 사용합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list"><span class="list-title">States</span></li>
            <li class="quick-menu-list"><span class="list-title">Button Hierarchy</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Placement</span>
              <ul class="quick-menu-sub-list-box kor">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">1. 시선의 흐름에 따른 배치</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">2. Button 배치</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">3. 화면 Layout에 따른 정렬 방식 </span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Box Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Text Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Icon Button</span></li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Floating Action Button</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Box Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Text Button</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Icon Button</span></li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Floating Action Button</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
