<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Controls | Checkbox",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "checkbox",
        "path" : "../.."
      })

      <!-- Components | Controls | Checkbox -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Checkbox</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      선택할 수 있는 옵션을 나타내는 상자 형태의 컴포넌트입니다. <br />항목을 선택하거나 선택 해제할 때
                      사용하며 단일, 다중 선택지가 제공될 수 있습니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "General Select / Unselect Checkbox"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "dark",
                          "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_02.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : "선택 가능한 영역을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Icon",
                            "desc"  : "선택여부에 따라 아이콘으로 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Text",
                            "desc"  : "옵션에 대한 정보를 우측에 배치합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Background (Optional)",
                            "desc"  : "정보를 그룹화하기 위해 구성되는 영역입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <div class="color-box dark do">
                      <div class="image-box">
                        <img src="../../../assets/images/ios/components/checkbox/checkbox_image_03.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Checkbox</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">텍스트와 함께 구성하는 기본적인 체크박스입니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_04.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_05.png",
                            "desc"  : "명확한 인지를 위해 그룹화하여 구성할 수 있습니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_06.png",
                            "desc"  : "높은 우선순위의 내용은 강조하여 사용할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_07.png",
                            "desc"  : "단일 선택만 가능한 경우에는 체크박스가 아닌 라디오 버튼 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_08.png",
                            "desc"  : "선택된 항목과 선택되지 않은 항목이 모호하게 구분하지 않습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "exception",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_09.png",
                            "desc"  : "구매, 결제 수단을 선택하거나 단일 선택지로 사용할 수 있습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->

            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">리모컨의 포커스와 선택 여부에 분류합니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_010.png",
                      "desc"  : null
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // States -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Usage</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_011.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/checkbox/checkbox_image_012.png",
                            "desc"  : "체크박스 내 하위 체크박스로 구성하여 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Checkbox</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list"><span class="list-title">States</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Usage</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
