<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Components",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "components",
        "path" : "../.."
      })

      <!-- Components | Components -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Components</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      컴포넌트는 UX 가이드라인의 재사용 가능한 구성요소입니다.<br />각 구성요소는 상호 작용 또는 UI
                      요구를 충족합니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <!-- .main-content-box : 메인 페이지에서만 사용 -->
                  <div class="main-content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "badges",
                      "image" : "../../../assets/images/common/components/components_badges.png",
                      "title" : "Badges",
                      "desc"  : {
                        "desc" : "새로운 콘텐츠 알림에 대한 정보를 제공할 때 사용합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "buttons",
                      "image" : "../../../assets/images/common/components/components_buttons.png",
                      "title" : "Buttons",
                      "desc"  : {
                        "desc" : "주요 화면을 컨트롤하거나 액션을 가능하게 할 때 사용합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "checkbox",
                      "image" : "../../../assets/images/common/components/components_controls.png",
                      "title" : "Controls",
                      "desc"  : {
                        "desc" : "사용자가 정보의 선택이나 상태를 직접 컨트롤할 때 사용합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "gnb",
                      "image" : "../../../assets/images/common/components/components_gnb.png",
                      "title" : "GNB",
                      "desc"  : {
                        "desc" : "가장 기본적인 정보 구조이며, 사용자의 동선을 안내하는 중요한 구성요소입니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "inputs",
                      "image" : "../../../assets/images/common/components/components_inputs.png",
                      "title" : "Inputs",
                      "desc"  : {
                        "desc" : "사용자가 문자, 숫자, 기호 등을 입력하고 확인할 때 사용합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "ime",
                      "image" : "../../../assets/images/common/components/components_ime.png",
                      "title" : "IME",
                      "desc"  : {
                        "desc" : "텍스트 입력이 필요한 경우 제공되는 키보드입니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "list_cards",
                      "image" : "../../../assets/images/common/components/components_list_cards.png",
                      "title" : "List Cards",
                      "desc"  : {
                        "desc" : "두 개 이상의 내용을 특정 테마로 묶어 제공하는 편성 단위입니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "loading",
                      "image" : "../../../assets/images/common/components/components_loading.png",
                      "title" : "Loading",
                      "desc"  : {
                        "desc" : "작업에 대한 대기가 필요할 때 사용하며, 요청이 처리되고 있다는 시각적 신호를 제공합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "pagination",
                      "image" : "../../../assets/images/common/components/components_pagination.png",
                      "title" : "Pagination",
                      "desc"  : {
                        "desc" : "동선 내 사용자의 위치를 안내하기 위해 사용합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "player",
                      "image" : "../../../assets/images/common/components/components_player.png",
                      "title" : "Player",
                      "desc"  : {
                        "desc" : "VOD 내 사용자의 위치를 안내하고 컨트롤할 때 사용합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "popup",
                      "image" : "../../../assets/images/common/components/components_popup.png",
                      "title" : "Pop up",
                      "desc"  : {
                        "desc" : "중요한 정보를 제공하거나 사용자의 \n결정을 위하여 콘텐츠 앞에 생성되는 컴포넌트입니다"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "splash",
                      "image" : "../../../assets/images/common/components/components_splash.png",
                      "title" : "Splash",
                      "desc"  : {
                        "desc" : "앱을 실행할 때 데이터가 로드되는 동안 브랜드를 표현하며, 사용자 경험에 즐거움을 더합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "tabs",
                      "image" : "../../../assets/images/common/components/components_tabs.png",
                      "title" : "Tabs",
                      "desc"  : {
                        "desc" : "페이지 내 유사한 정보를 그룹화하여 \n섹션 간의 이동과 정리를 위해 사용합니다."
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/main_block_box.html", {
                      "link"  : "tooltip",
                      "image" : "../../../assets/images/common/components/components_tooltip.png",
                      "title" : "Tooltip",
                      "desc"  : {
                        "desc" : "구조나 기능에 대해 도움을 줄 때 주로 사용되며, 정보의 정확한 조작을 유도할 때도 사용합니다."
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
