<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Dropdown",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components"
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "dropdown"
      })

      <!-- Components | Dropdown -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Dropdown</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">사용자가 여러개의 Option List 중 하나의 Option을 선택해야 할 때 사용합니다.</p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode" : "",
                      "image" : "components/dropdown/dropdown_image_01",
                      "desc" : { "alphabet" : "A", "desc" : "General Dropdown" }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode" : "",
                          "image" : "components/dropdown/dropdown_image_02",
                          "desc" : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc" : "펼쳐지고 닫혀지는 Dropdown의 형태를 나타냅니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc" : "Inner Circle의 존재 유무로 선택 여부를 판단 할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Title (Optional)",
                            "desc" : "Dropdown Option List에서 예상되는 내용을 사용자에게 알려주는 Text입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Icon",
                            "desc" : "Dropdown의 열림/닫힘 상태를 나타내는 Icon입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full" : "",
                      "state" : "do",
                      "image" : "components/dropdown/dropdown_image_03",
                      "desc" : "Title의 경우 Dropdown 컴포넌트의 상단 좌측에 배치합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full" : "",
                      "state" : "do",
                      "image" : "components/dropdown/dropdown_image_04",
                      "desc" : "Dropdown Text만 보고 Option List가 예상이 될 경우 Title을 노출하지 않을 수 있습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- General Dropdown -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Dropdown</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            Dropdown은 Close, Open의 두 가지 유형이 있습니다. <br />Close 같은 경우는 사용자가 Select 한
                            Option이 노출이 되고, Open 같은 경우는 선택할 수 있는 List가 펼쳐서 보여집니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "image" : "components/dropdown/dropdown_image_05",
                            "desc" : null
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "image" : "components/dropdown/dropdown_image_06",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "components/dropdown/dropdown_image_07",
                            "desc" : "Dropdown이 인터페이스 하단 가장자리에 가까운 경우 메뉴가 잘리지 않도록 위쪽으로 확장됩니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- General Dropdown -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Dropdown</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">Dropdown은 선택 가능한 Option의 개수가 많을 경우 사용합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "full" : "full",
                            "image" : "components/dropdown/dropdown_image_08",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "components/dropdown/dropdown_image_09",
                            "desc" : "Dropdown은 Option 중 1개를 Default로 노출시킵니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "components/dropdown/dropdown_image_010",
                            "desc" : "Option을 한 줄의 텍스트로 제한하여 짧고 간결하게 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "components/dropdown/dropdown_image_011",
                            "desc" : "Dropdown List가 일정 이상 초과될 경우 Scroll을 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "dont",
                            "image" : "components/dropdown/dropdown_image_012",
                            "desc" : "Option이 두 가지인 경우 Dropdown을 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Dropdown</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Dropdown</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
