<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | GNB",
    "path" : "../../.."
  })

  <style>
    .heading-bottom .content-box {
      flex-wrap: unset;
    }
    .heading-bottom .image-content-box {
      flex: unset;
    }
  </style>

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "gnb",
        "path" : "../.."
      })

      <!-- Components | Controls | GNB -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">GNB</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      Global Navigation Bar의 약자로, 서비스의 가장 기본적인 내비게이션을 담당하는 메뉴입니다.<br />서비스의
                      정체성을 전달하는 역할로 사용자 동선을 안내와 상위 레벨 탐색을 위해 제공되는 컴포넌트입니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "General Home"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_02.png",
                      "desc"  : {
                        "alphabet" : "B",
                        "desc"     : "1Depth"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_03.png",
                      "desc"  : {
                        "alphabet" : "C",
                        "desc"     : "2Depth"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "dark",
                          "image" : "../../../assets/images/ios/components/gnb/gnb_image_04.png",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "dark",
                          "image" : "../../../assets/images/ios/components/gnb/gnb_image_05.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Menu Icon (Optional)",
                            "desc"  : "메뉴를 효과적으로 전달하기 위해 아이콘을 함께 제공합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "핵심 경로에 대한 정보를 표기합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Icon (Optional)",
                            "desc"  : "하위 Depth가 있을 경우 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Line (Optional)",
                            "desc"  : "선택된 상태를 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "5. Container (Optional)",
                            "desc"  : "포커스 영역을 표시합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_06.png",
                      "desc"  : "메뉴별 위계를 명확하게 구분시켜 제공합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_07.png",
                      "desc"  : "서비스 메뉴는 고유의 아이덴티티 컬러를 사용할 수 있습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "dark",
                          "image" : "../../../assets/images/ios/components/gnb/gnb_image_08.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Normal",
                            "desc"  : "서비스의 제공된 메뉴를 선택할 수 있는 기본 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Focus",
                            "desc"  : "사용자가 위치한 메뉴를 표시하며 다른 메뉴로 이동할 수 있는 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Select",
                            "desc"  : "메뉴가 선택되어 사용자가 위치한 경로를 안내하는 상태입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // States -->
            <!-- Placement -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Placement</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">TV 화면 좌측에 위치합니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_09.png",
                      "desc"  : {
                        "alphabet" : null,
                        "desc"     : "Select"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_010.png",
                      "desc"  : {
                        "alphabet" : null,
                        "desc"     : "Focus"
                      }
                    })
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/gnb/gnb_image_011.png",
                      "desc"  : "하위 Depth가 있는 경우 우측에 배치합니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Placement -->

            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Home</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            GNB 메뉴가 열리지 않은 기본적인 상태로 아이콘만 단독으로 노출합니다.<br />사용자가 선택하여
                            진입된 메뉴는 컬러와 라인을 활용하여 다른메뉴와 구분합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_012.png",
                            "desc"  : null
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_013.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_014.png",
                            "desc"  : "서비스 톤 앤 매너와 맞지 않거나 시인성을 해치는 아이콘, 컬러를 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">GNB Depth</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            포커스를 통해 메뉴가 열린 상태로 다른 메뉴에 대한 경로를 제공합니다.<br />선택된 메뉴의 하위
                            Depth가 있을 경우 우측에 함께 제공합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_015.png",
                            "desc"  : null
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_016.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_017.png",
                            "desc"  : "하위 Depth가 없는 경우에는 화살표 아이콘을 제공하지 않습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_018.png",
                            "desc"  : "최대 글자 수가 초과할 경우 말 줄임표로 표기합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General GNB</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_019.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_020.png",
                            "desc"  : "2 Depth 내 핵심 메뉴는 아이콘과 함께 사용하여 강조할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_021.png",
                            "desc"  : "2 Depth로 진입한 경우 콘텐츠 영역을 확보하기 위해 1 Depth 위치로 이동할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/gnb/gnb_image_022.png",
                            "desc"  : "GNB가 열리지 않은 상태에서는 메뉴를 이동할 수 없습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list"><span class="list-title">States</span></li>
            <li class="quick-menu-list"><span class="list-title">Placement</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Home</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">GNB Depth</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">General GNB</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
