<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | List Cards",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "listcards",
        "path" : "../.."
      })

      <!-- Components | listcards -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">List Cards</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      List Cards는 Contents 및 Promotion을 특정 테마로 묶어 제공하는 한 행의 편성 단위입니다.<br />Contents
                      Block과 Menu Block으로 나뉘어 편성됩니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/components/list_cards/list_cards_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "Contents Block"
                      }
                    })
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/components/list_cards/list_cards_image_02.png",
                      "desc"  : {
                        "alphabet" : "B",
                        "desc"     : "Menu Block"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/components/list_cards/list_cards_image_03.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Block Title (Optional) ",
                            "desc"  : "Block의 타이틀을 노출합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Number Badge (Optional)",
                            "desc"  : "Contents 개수를 Badge형태로 노출합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Contents List ",
                            "desc"  : "Block Title에 맞는 Contents를 노출합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Box Button (Optional) ",
                            "desc"  : "Contents의 개수가 많을 때 전체 List로 이동해서 탐색할 수 있는 Button입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/components/list_cards/list_cards_image_04.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Block Title (Optional)",
                            "desc"  : "Block의 타이틀을 노출합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Number Badge (Optional)",
                            "desc"  : "Contents 개수를 Badge형태로 노출합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Contents List ",
                            "desc"  : "Block Title에 맞는 Contents를 노출합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                        "mode"  : "dark",
                        "full"  : "",
                        "state" : "dont",
                        "image" : "../../../assets/components/list_cards/list_cards_image_05.png",
                        "desc"  : "Contents Block과 Menu Block을 혼용해서 사용하지 않습니다."
                      })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->
            <!-- Placement -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Placement</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">1. Horizontal</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">가장 기본적인 구조로, 가로로 좌측 정렬되어 나열됩니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                              "mode"  : "",
                              "image" : "../../../assets/components/list_cards/list_cards_image_06.png",
                              "desc"  : null
                            })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_07.png",
                            "desc"  : "사용자에게 Block의 우측과 하단에 Contents가 더 있다는 시각적 힌트를 제공합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/components/list_cards/list_cards_image_08.png",
                            "desc"  : "여러개의 Block을 사용자가 혼란을 느끼지 않도록 알맞은 그룹핑을 유지하여 배치합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">2.Vertical</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            선택된 Block Title에 맞는 Contents가 세로로 나열됩니다. Layout에 따라 좌측이나 우측에
                            배치됩니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                              "mode"  : "",
                              "image" : "../../../assets/components/list_cards/list_cards_image_09.png",
                              "desc"  : null
                            })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/components/list_cards/list_cards_image_010.png",
                            "desc"  : "여러개의 Contents를 나열할 때 스크롤과 시각적 힌트가 없으면 사용자는 추가 정보가 있다는 것을 인지하기 어렵습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">3.Grid</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            Grid 형태의 List로, 주로 개수가 많은 일반 Horizontal 의 전체 Contents를 나열합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                              "mode"  : "",
                              "image" : "../../../assets/components/list_cards/list_cards_image_011.png",
                              "desc"  : null
                            })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_012.png",
                            "desc"  : "사용자의 시선의 흐름에 따라 좌측 상단부터 우측 하단으로 Contents를 내려서 구성합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Placement -->
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Contents Block</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            Image나 Poster, Thumbnail 등 List를 구성하는 Contents의 형태에 따라 4가지로 크게 분류합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <div class="image-title-box">
                            <div class="image-title-top">
                              <!-- prettier-ignore -->
                              @@include("../component/image_content_box.html", {
                                "mode"  : "",
                                "image" : "../../../assets/components/list_cards/list_cards_image_013.png",
                                "desc"  : null
                              })
                            </div>
                            <div class="image-title-bottom">
                              <ul class="number-desc-list-box">
                                <!-- prettier-ignore -->
                                @@include("../component/number_desc_list.html", {
                                  "title" : "A. Vertical Contents Type",
                                  "desc"  : "주로 Poster나 Promotion Image를 나열합니다."
                                })
                                <!-- prettier-ignore -->
                                @@include("../component/number_desc_list.html", {
                                  "title" : "B. Horizontal Contents Type",
                                  "desc"  : "주로 Thumbnail, Poster를 나열합니다. "
                                })
                                <!-- prettier-ignore -->
                                @@include("../component/number_desc_list.html", {
                                  "title" : "C. Circle Contents Type",
                                  "desc"  : "음악 관련 이미지를 나열합니다."
                                })
                                <!-- prettier-ignore -->
                                @@include("../component/number_desc_list.html", {
                                  "title" : "D. Banner Contents Type ",
                                  "desc"  : "Event성 Banner를 나열합니다."
                                })
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_014.png",
                            "desc"  : "Contents의 속성에 따라 Text나 Image Icon, Progress Bar와 같은 Component를 추가로 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_015.png",
                            "desc"  : "Contents의 Filtering이 필요한 경우, Block과 Tab을 혼용하여 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_016.png",
                            "desc"  : "Vertical 배치의 경우, 부가정보 Text가 Image 우측에 배치 될 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_017.png",
                            "desc"  : "같은 Block 내에 Banner Contents Type과 Vertical Contents Type을 혼용하여 사용할 수 있습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Menu Block</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">List를 구성하는 Menu의 형태에 따라 3가지로 크게 분류합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <div class="image-title-box">
                            <div class="image-title-top">
                              <!-- prettier-ignore -->
                              @@include("../component/image_content_box.html", {
                                "mode"  : "",
                                "image" : "../../../assets/components/list_cards/list_cards_image_018.png",
                                "desc"  : null
                              })
                            </div>
                            <div class="image-title-bottom">
                              <ul class="number-desc-list-box">
                                <!-- prettier-ignore -->
                                @@include("../component/number_desc_list.html", {
                                  "title" : "A. Rectangle Menu Type ",
                                  "desc"  : "Block의 간단한 Title이 오거나 사용자가 Control 할 수 있는 Menu를 제공합니다. "
                                })
                                <!-- prettier-ignore -->
                                @@include("../component/number_desc_list.html", {
                                  "title" : "B. Square Menu Type",
                                  "desc"  : "Block의 간단한 세부 정보를 표기합니다. "
                                })
                                <!-- prettier-ignore -->
                                @@include("../component/number_desc_list.html", {
                                  "title" : "C. Round Menu Type",
                                  "desc"  : "간단한 Keyword나, 사용자의 Action 상태의 결과값을 반영합니다."
                                })
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_019.png",
                            "desc"  : "Icon과 Badge, Text를 사용자가 정보를 인식하기 쉽도록 알맞게 강조하여 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_020.png",
                            "desc"  : "Menu Block은 사용자가 정보를 한 눈에 인식하기 쉽도록 명확한 Text 위계 구조가 보이도록 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/components/list_cards/list_cards_image_021.png",
                            "desc"  : "Menu Block 뒤에 Box Button을 제공하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Contents Block</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">주로 Home에 다양한 형태의 Contents Block을 사용합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/components/list_cards/list_cards_image_022.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_023.png",
                            "desc"  : "상황에 따라 Box Button이 List 첫번째나 마지막에 배치될 수 있습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Menu Block</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">주로 MY와 검색 결과에 다양한 형태의 Menu Block을 사용합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/components/list_cards/list_cards_image_024.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/components/list_cards/list_cards_image_025.png",
                            "desc"  : "MY에 사용 되는 Menu Block은 Number Badge를 노출하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Placement</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">1. Horizontal</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">2. Vertical</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">3. Grid</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Contents Block</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Menu Block</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Contents Block</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Menu Block</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
