<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Pagination",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "pagination",
        "path" : "../.."
      })

      <!-- Components | Pagination -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Pagination</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      많은 콘텐츠를 여러 페이지로 나눠 표시할 때 사용하는 컴포넌트입니다.<br />콘텐츠 개수와 사용자의
                      위치를 안내하여 콘텐츠 탐색에 어포던스를 제공합니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/pagination/pagination_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "Dot Pagination"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/pagination/pagination_image_02.png",
                      "desc"  : {
                        "alphabet" : "B",
                        "desc"     : "Number Pagination"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/pagination/pagination_image_03.png",
                          "desc"  : null
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/pagination/pagination_image_04.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Active Dot",
                            "desc"  : "사용자의 현재 위치를 명확하게 구분하여 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Inactivated Dot",
                            "desc"  : "전체 페이지의 개수를 원형의 개수로 표시합니다."
                          })
                        </ul>
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Active Number",
                            "desc"  : "사용자의 현재 위치를 명확하게 구분하여 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Inactivated Number",
                            "desc"  : "전체 페이지의 개수를 숫자로 표시합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Dot Pagination</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            현재 위치한 페이지와 전체 페이지를 원형을 통해 표시합니다.<br />다음 페이지와 이전 페이지의
                            이동을 쉽게 제공하거나 콘텐츠의 양이 적을때 사용합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/pagination/pagination_image_05.png",
                            "desc"  : null
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/pagination/pagination_image_06.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/pagination/pagination_image_07.png",
                            "desc"  : "애니메이션을 통해 일정 시간이 경과함에 따라 자동 컨트롤링 될 수 있도록 제공할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/pagination/pagination_image_08.png",
                            "desc"  : "사용자의 위치를 채워지는 형태로 표시하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Number Pagination</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            현재 위치한 페이지와 전체 페이지를 숫자를 통해 표시합니다.<br />전체 콘텐츠의 양을 명확하게
                            정의하거나 10개 이상의 다량의 콘텐츠를 제공해야 하는 경우 사용합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/pagination/pagination_image_09.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Dot Pagination</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/pagination/pagination_image_010.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Number Pagination</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/pagination/pagination_image_011.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Dot Pagination</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Number Pagination</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Dot Pagination</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Number Pagination</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
