<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Player",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "player",
        "path" : "../.."
      })

      <!-- Components | Player -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Player</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      VOD 콘텐츠를 재생하고 제어하는 컴포넌트입니다.<br />콘텐츠를 탐색하거나 자막, 재생속도 등을 제어할
                      수 있는 기능을 제공합니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/ios/components/player/player_image_01.png",
                      "desc" : {
                        "alphabet" : "A",
                        "desc" : "General VOD Player"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode" : "",
                          "image" : "../../../assets/images/ios/components/player/player_image_02.png",
                          "desc" : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Title Area",
                            "desc" : "콘텐츠의 아트워크를 제공합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Track",
                            "desc" : "재생 가능한 영역을 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Active Indicator",
                            "desc" : "재생된 콘텐츠의 영역을 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Knob",
                            "desc" : "현재 재생 중인 콘텐츠의 위치를 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "5. Running Time",
                            "desc" : "현재 재생 중인 콘텐츠의 시간을 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "6. Remaining Time",
                            "desc" : "콘텐츠의 남은 재생 시간을 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "7. Icon Area",
                            "desc" : "세부적인 옵션을 설정할 수 있는 아이콘 버튼을 배치합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "8. Thumbnail",
                            "desc" : "재생 위치에 해당하는 장면 이미지를 제공합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "9. Guide Text (Optional) ",
                            "desc" : "회차 선택이 가능한 시리즈물의 경우 회차 이동을 할 수 있도록 제공합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "10. Gradation",
                            "desc" : "콘텐츠를 제어할 때 컨트롤러의 시인성을 높이기 위해 제공합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full" : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/player/player_image_03.png",
                      "desc" : "제어하고 있는 시간의 방향과 아이콘의 방향을 맞춰 통일성 있게 제공합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full" : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/player/player_image_04.png",
                      "desc" : "포커스 버튼에 대한 텍스트를 함께 표시합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full" : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/player/player_image_05.png",
                      "desc" : "재생 중인 콘텐츠의 세부적인 옵션을 설정할 수 있습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->
            <!-- Placement -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Placement</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">콘텐츠 재생에 시각적으로 방해되지 않도록 하단에 배치합니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/player/player_image_06.png",
                      "desc"  : "null"
                    })
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full" : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/player/player_image_07.png",
                      "desc" : "재생 위치에 해당하는 장면 이미지, 시간을 중앙 정렬하여 제공합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full" : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/player/player_image_08.png",
                      "desc" : "장면 이미지가 화면 밖으로 넘어가지 않도록 시각적 균형을 맞춰 제공합니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Placement -->
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- General VOD Player -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General VOD Player</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">장면 탐색, 자막, 재생속도 등을 제어할 수 있도록 기능을 제공합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "image" : "../../../assets/images/ios/components/player/player_image_09.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/player/player_image_010.png",
                            "desc" : "제어 가능한 플레이어를 비활성화된 컬러로 제공하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- General VOD Player -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General VOD Player</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/player/player_image_011.png",
                            "desc" : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
            <!-- Interaction -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Interaction</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- Drag & Drop -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Drag & Drop</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            리모컨 좌우키를 길게 탭하여 사용자가 원하는 콘텐츠의 특정 부분으로 이동하여 재생할 수
                            있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/player/player_image_012.png",
                            "desc" : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Tap & Jump -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Tap & Jump</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            리모컨 좌우키를 짧게 탭하여 30초 단위로 콘텐츠를 앞으로 또는 뒤로 이동하여 재생할 수
                            있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/player/player_image_013.png",
                            "desc" : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Interaction -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Placement</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General VOD Player</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General VOD Player</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Interaction</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Drag & Drop</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Tap & Jump</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
