<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Popup",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "popup",
        "path" : "../.."
      })

      <!-- Components | Popup -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Popup</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      중요한 정보를 제공하거나 사용자에게 추가적인 작업을 유도하도록 사용되는 컴포넌트입니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/popup/popup_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "Full Popup"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/popup/popup_image_02.png",
                      "desc"  : {
                        "alphabet" : "B",
                        "desc"     : "Layer Popup"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/popup/popup_image_03.png",
                      "desc"  : {
                        "alphabet" : "C",
                        "desc"     : "Toast Popup"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/popup/popup_image_04.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Background",
                            "desc"  : "팝업을 강조하기 위해 어둡게 처리되는 배경영역입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Contents Area",
                            "desc"  : "정보, 기능과 같은 중요한 설명을 표기합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Button (Optional)",
                            "desc"  : "추가적인 작업을 유도하거나 이전 화면으로 돌아가기 위해 사용합니다."
                          })
                        </ul>
                      </div>
                    </div>
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/popup/popup_image_05.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Background",
                            "desc"  : "표시하는 정보에 따라 확장될 수 있는 영역입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Contents Area",
                            "desc"  : "정보, 기능과 같은 중요한 설명을 표기합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Button",
                            "desc"  : "추가적인 작업을 유도하거나 이전 화면으로 돌아가기 위해 사용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Dimmed",
                            "desc"  : "주변 콘텐츠와 시각적으로 분리하기 위해 사용합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- .half : 컨텐츠 half 사이즈일 경우 -->
                    <div class="image-title-box half">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "../../../assets/images/ios/components/popup/popup_image_06.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Background",
                            "desc"  : "표시하는 정보에 따라 확장될 수 있는 영역입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : "정보, 기능과 같은 중요한 설명을 표기합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Icon (Optional) ",
                            "desc"  : "설명하는 내용과 관련된 아이콘을 함께 제공할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Gradient",
                            "desc"  : "주변 콘텐츠와 시각적으로 분리하기 위해 사용합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/popup/popup_image_07.png",
                      "desc"  : "가독성을 고려하여 간결하게 표기합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/popup/popup_image_08.png",
                      "desc"  : "콘텐츠 및 정보의 양에 따라 스크롤을 제공할 수 있습니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/popup/popup_image_09.png",
                      "desc"  : "액션을 하기 위한 최소 조건이 완료될 때까지 버튼을 비활성화시켜 제공합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/ios/components/popup/popup_image_010.png",
                      "desc"  : "버튼의 간격을 과도하게 멀리 배치하지 않습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- Placement -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Placement</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Layer Popup</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">주목성을 강화하기 위해 화면 정중앙에 위치하도록 구성합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_011.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Toast Popup</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            사용자의 주의를 빠르게 이끌기 위해 아래에서 위로 올라오는 형태로 구성합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_012.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Placement -->

            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Full Popup</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            사용자에게 전달하고자 하는 정보의 양이 많거나 수행해야 하는 상세한 작업을 포함하는 경우
                            사용합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_013.png",
                            "desc"  : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Layer Popup</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            중요한 정보를 제공하고 추가적인 작업을 유도하기 위해 최상단에 위치시켜 사용합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_014.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_015.png",
                            "desc"  : "중요한 내용을 주의 집중시키기 위해 배경을 dim 상태로 유지합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Toast Popup</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            잠깐 나타났다 사라지는 알림으로 사용자에게 정보를 빠르게 전달하기 위해 사용합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_016.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_017.png",
                            "desc"  : "단순한 안내를 제공하기 위해 사용할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_018.png",
                            "desc"  : "텍스트 중요도에 따라 시각적 볼륨을 다르게 표시합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Full Popup</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_019.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_020.png",
                            "desc"  : "연속성이 필요한 경우 팝업 내 플로우를 구성할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_021.png",
                            "desc"  : "TV 해상도를 고려하여 마진, 스크롤 영역을 구성합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Layer Popup</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_022.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_023.png",
                            "desc"  : "콘텐츠 속성에 따라 버튼의 위치를 조정할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_024.png",
                            "desc"  : "컴포넌트를 활용하여 팝업 노출 여부를 제어할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_025.png",
                            "desc"  : "팝업을 중첩하여 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Toast Popup</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_026.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_027.png",
                            "desc"  : "정보에 대한 시각적 인지를 높이기 위해 아이콘과 함께 구성할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/popup/popup_image_028.png",
                            "desc"  : "사용자가 빠르게 읽고 이해할 수 있도록 최대 3줄 안으로 표기합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Placement</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Layer Popup</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Toast Popup</span></li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Full Popup</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Layer Popup</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Toast Popup</span></li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Full Popup</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Layer Popup</span></li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Toast Popup</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
