<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Radio Button",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "radio",
        "path" : "../.."
      })

      <!-- Components | Radio Button -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Radio Button</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      단독으로 선택할 때 사용하는 컴포넌트입니다.<br />하나의 라디오 버튼을 선택하면 다른 라디오
                      버튼들은 선택 해제되며, 필수적으로 선택된 옵션을 제공합니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode" : "dark",
                      "image" : "../../../assets/images/ios/components/radio/radio_image_01.png",
                      "desc" : {
                        "alphabet" : "A",
                        "desc" : "General Select / Unselect Radio Button"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode" : "dark",
                          "image" : "../../../assets/images/ios/components/radio/radio_image_02.png",
                          "desc" : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc" : "선택 가능한 영역을 나타냅니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Icon",
                            "desc" : "선택여부에 따라 채워짐 정도로 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Text",
                            "desc" : "텍스트는 아이콘 우측에 배치합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- General Radio Button -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Radio Button</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">텍스트와 함께 구성하는 기본적인 라디오 버튼입니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/radio/radio_image_03.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/radio/radio_image_04.png",
                            "desc" : "필수적으로 선택된 옵션을 제공합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/radio/radio_image_05.png",
                            "desc" : "라디오 버튼 내 하위 라디오 버튼을 구성하여 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->
            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">리모컨의 포커스와 선택 여부에 분류합니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                    "mode" : "dark",
                    "image" : "../../../assets/images/ios/components/radio/radio_image_06.png",
                    "desc" : null
                    })
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full" : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/radio/radio_image_07.png",
                      "desc" : "라디오 버튼간 명확한 구분을 위해 그룹화하여 사용할 수 있습니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full" : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/ios/components/radio/radio_image_08.png",
                      "desc" : "그룹 간 간격을 붙여서 사용하지 않습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- Vertical Radio Button -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Vertical Radio Button</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/radio/radio_image_09.png",
                            "desc" : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Horizontal Radio Button -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Horizontal Radio Button</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/radio/radio_image_010.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "full",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/radio/radio_image_011.png",
                            "desc" : "버튼의 순서를 랜덤으로 배치하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Image Radio Button -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Image Radio Button</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/radio/radio_image_012.png",
                            "desc" : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Radio Button</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">States</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Vertical Radio Button</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Horizontal Radio Button</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Image Radio Button</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
