<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Controls | Slider",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components"
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "slider",
        "path" : "../.."
      })

      <!-- Components | Controls | Slider -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Slider</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      사용자가 특정 범위의 값을 선택해야 하는 곳에 사용합니다.<br />
                      변경 사항이 즉시 적용되므로 원하는 값을 슬라이더를 통해 조정합니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "components/slider/slider_image_01",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "General Slider"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "",
                          "image" : "components/slider/slider_image_02",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Min/Max Value",
                            "desc"  : "조절값을 Icon으로 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Track",
                            "desc"  : "사용자가 선택할 수 있는 범위를 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Controller",
                            "desc"  : "사용자가 값을 조절하기 위해 선택할 수 있는 인디케이터입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Tick Mark",
                            "desc"  : "Track 위에 눈금을 표시하여 사용자가 값을 선택할 때 도움을 줄 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "5. Value Text",
                            "desc"  : "해당하는 Controller 위치에 특정 숫자 값을 즉각적으로 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "6. Reset Button",
                            "desc"  : "설정값을 초기화하는 Button입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Slider</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            기본형의 Slider로 리모컨 좌우키를 사용하여 정해진 범위의 값 중 하나를 선택해야 할 때
                            사용합니다. 사용자의 선택을 직관적으로<br />
                            돕기 위해 눈금으로 특정 Point의 정의가 필요합니다. 아래 Value Text을 통해 특정 숫자값으로
                            선택값을 확인합니다. <br />
                            선택값이 바로 적용되기 때문에 설정 전 기본값으로 돌리기 위한 초기화 Button이 슬라이더 하단에
                            배치됩니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "components/slider/slider_image_03",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/slider/slider_image_04",
                            "desc"  : "Slider는 사용자가 사용할 수 있는 전체 선택 범위를 제시해야 합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "components/slider/slider_image_05",
                            "desc"  : "Slider을 움직이면 변경 사항은 사용자에게 바로 반영되어야 하기 때문에 확인 또는 변경하기 Button을 제공하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Usage</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">일반적으로 화면과 음성의 싱크를 조절할때 다음과 같이 사용합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "components/slider/slider_image_06",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/slider/slider_image_07",
                            "desc"  : "사용자의 시선 흐름이 좌측 상단영역에서 우측 하단 영역으로 이동하기 때문에 사용자가 Option값을 조절하고 초기 값으로 돌리기 쉽도록 우측 하단에 초기화 Button을 제공합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "components/slider/slider_image_08",
                            "desc"  : "선택된 Controller 및 Value Text는  명확한 Color 구분을 통해 표현합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Slider</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Usage</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
