<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Splash",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "splash",
        "path" : "../.."
      })

      <!-- Components | Splash -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Splash</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      서비스 로딩 시에 표시되는 컴포넌트입니다.<br />사용자에게 서비스가 시작되고 있다는 시각적인
                      피드백을 제공하고 그래픽 요소를 통해 브랜드 인식을 높일 수 있습니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "",
                      "image" : "../../../assets/images/ios/components/splash/splash_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "General Splash"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/splash/splash_image_02.png",
                            "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Graphic Area",
                            "desc"  : "브랜드 아이덴티티를 보여줄 수 있는 시각적 요소로 구성합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text (Optional)",
                            "desc"  : "별도의 추가적인 설명이 필요한 경우 안내 문구를 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Background",
                            "desc"  : "서비스 사용환경을 고려한 배경 컬러를 선정합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <!--
                      color-box 컬러 추가 클래스
                      .red    : Don't
                      .green  : Do
                      .orange : Exception
                    -->
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/splash/splash_image_03.png",
                      "desc"  : "서비스의 로고, 컬러를 변형하지 않고 사용합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/splash/splash_image_04.png",
                      "desc"  : "딜레이가 발생할 경우 애니메이션 완료 시점에 로딩과 함께 표시할 수 있습니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/ios/components/splash/splash_image_05.png",
                      "desc"  : "시각적 볼륨을 고려하지 않은 그래픽 요소를 구성하지 않습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Splash</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">서비스의 브랜드 모티브와 관련된 그래픽 요소, 움직임 요소로 구성합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/splash/splash_image_06.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/splash/splash_image_07.png",
                            "desc"  : "브랜드 아이덴티티를 해치지 않는 애니메이션을 사용할 수 있습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Types -->
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General Splash</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "",
                            "image" : "../../../assets/images/ios/components/splash/splash_image_08.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/splash/splash_image_09.png",
                            "desc"  : "데이터 로드가 완료되어 서비스 화면이 표시되었을 경우 중복하여 제공하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Splash</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Splash</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
