<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Controls | Switch",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "switch",
        "path" : "../.."
      })

      <!-- Components | Controls | Switch -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Switch</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      특정 기능이나 옵션을 켜고 끌 수 있는 토글 형태의 컴포넌트입니다.<br />활성화, 비활성화 같은 이진
                      동작을 제어하는데 사용합니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/switch/switch_image_01.png",
                      "desc"  : {
                        "alphabet" : "A",
                        "desc"     : "General ON/OFF Switch"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "dark",
                          "image" : "../../../assets/images/ios/components/switch/switch_image_02.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Track",
                            "desc"  : "이동이 가능한 영역를 나타냅니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Thumb",
                            "desc"  : "이동하는 부분으로 켜거나 끌 때 이동합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">General switch</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            특정 기능이나 옵션을 켜거나 끌 수 있는 기본적인 스위치입니다.<br />시각적인 인식을 쉽게 하기
                            위해 활성화, 비활성화 상태를 컬러로 구분합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/switch/switch_image_03.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full"  : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/switch/switch_image_04.png",
                            "desc"  : "제어하는 옵션의 타이틀을 제공합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sub-content-container">
                  <div class="sub-content-area">
                    <div class="sub-content-top">
                      <div class="title-box">
                        <h3 class="title">Text Switch</h3>
                      </div>
                      <div class="desc-box">
                        <p class="desc">컨테이너 안에서 켜거나 끌 수 있는 토글할 수 있는 스위치 형태입니다.</p>
                      </div>
                    </div>
                    <div class="sub-content-bottom">
                      <div class="content-box">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "dark",
                          "image" : "../../../assets/images/ios/components/switch/switch_image_05.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="content-box">
                        <!-- prettier-ignore -->
                        @@include("../component/color_box.html", {
                          "mode" : "dark",
                          "full"  : "",
                          "state" : "do",
                          "image" : "../../../assets/images/ios/components/switch/switch_image_06.png",
                          "desc"  : "제어하는 옵션의 타이틀을 제공합니다."
                        })
                        <!-- prettier-ignore -->
                        @@include("../component/color_box.html", {
                          "mode" : "dark",
                          "full"  : "",
                          "state" : "dont",
                          "image" : "../../../assets/images/ios/components/switch/switch_image_07.png",
                          "desc"  : "옵션을 선택하는 기능에 사용하지 않습니다."
                        })
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->

            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "dark",
                      "image" : "../../../assets/images/ios/components/switch/switch_image_08.png",
                      "desc"  : null
                    })
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode" : "dark",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/ios/components/switch/switch_image_09.png",
                      "desc"  : "상태 값에 대해 명확한 인지를 위해 강조합니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // States -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Text Switch</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode"  : "dark",
                            "image" : "../../../assets/images/ios/components/switch/switch_image_010.png",
                            "desc"  : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/switch/switch_image_011.png",
                            "desc"  : "세 개 이상의 범주에서 선택하기 위해 사용할 수 없습니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/switch/switch_image_012.png",
                            "desc"  : "사용자의 시선 흐름이 좌측에서 우측으로 흐르기 때문에 \n설명을 위한 텍스트는 우측에 배치하지 않습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode"  : "dark",
                            "full"  : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/switch/switch_image_013.png",
                            "desc"  : "옵션 변경 사항은 즉각 반영을 위해 확인 또는 적용에 대한 버튼을 제공하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list"><span class="list-title">Anatomy</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">General Switch</span>
                </li>
                <li class="quick-menu-sub-list"><span class="sub-list-title">Text Switch</span></li>
              </ul>
            </li>
            <li class="quick-menu-list"><span class="list-title">States</span></li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list"><span class="sub-list-title">Text Switch</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
