<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Tooltip",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "tooltip",
        "path" : "../.."
      })

      <!-- Components | Tooltip -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Tooltip</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      특정 항목에 대한 추가 설명을 표시하기 위한 작은 정보 팝업 형태의 컴포넌트입니다.<br />익숙하지
                      않은 기능 또는 정확한 컨트롤을 유도하기 위해 사용할 수 있습니다.
                    </p>
                  </div>
                </div>
                <div class="heading-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_01.png",
                      "desc" : {
                        "alphabet" : "A",
                        "desc" : "Bubble Tooltip"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_02.png",
                      "desc" : {
                        "alphabet" : "B",
                        "desc" : "Round Tooltip"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_03.png",
                      "desc" : {
                        "alphabet" : "C",
                        "desc" : "Image Tooltip"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode" : "dark",
                          "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_04.png",
                          "desc" : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc" : "표시하는 정보에 따라 너비가 확장될 수 있는 전체 영역입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc" : "정보, 기능과 같은 추가 설명을 표기합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Sub Text (Optional)",
                            "desc" : "부가적인 정보를 함께 표시할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Tip",
                            "desc" : "추가 설명하는 항목을 명확하게 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "5. Icon (Optional)",
                            "desc" : "설명하는 내용과 관련된 아이콘을 함께 제공할 수 있습니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode" : "",
                          "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_05.png",
                          "desc" : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Guide image",
                            "desc" : "정확한 컨트롤을 유도하기 위해 디바이스 이미지를 활용합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc" : "정보, 기능과 같은 추가 설명을 표기합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Icon (Optional)",
                            "desc" : "설명하는 내용과 관련된 아이콘을 함께 제공할 수 있습니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->
            <!-- Placement -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Placement</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- Tip 위치 -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title kor">Tip 위치</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            설명이 필요한 특정 항목의 위치에 따라 상단, 하단으로 유동적으로 배치합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_06.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full" : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_07.png",
                            "desc" : "화면 레이아웃에 따라 유동적으로 배치할 수 있습니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_08.png",
                            "desc" : "다른 요소와 충돌하지 않도록 시각적 균형을 맞춰 배치합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Placement -->
            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- Bubble Tooltip -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Bubble Tooltip</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">추가 설명하는 항목을 명확하게 표시하기 위해 사용합니다.</p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_09.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full" : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_010.png",
                            "desc" : "서비스와 다른 포커스 컬러로 강조하여 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Round Tooltip -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Round Tooltip</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            특정 항목에 대해 추가적인 설명을 위해 표시하며, 시간 경과에 따라 자동으로 사라지게
                            구성합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_011.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "",
                            "full" : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_012.png",
                            "desc" : "시각적 연결성을 고려하여 아이콘과 설명을 멀리 배치하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Image Tooltip -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Image Tooltip</h3>
                        </div>
                        <div class="desc-box">
                          <p class="desc">
                            사용자에게 정확한 컨트롤을 유도하기 위해 이미지를 활용하여 디바이스 조작 방법을 안내합니다.
                          </p>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_013.png",
                            "desc" : null
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->
            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <!-- Bubble Tooltip -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Bubble Tooltip</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_014.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_015.png",
                            "desc" : "다른 툴팁 유형과 다르게 포커스 영역을 지속적으로 표시합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_016.png",
                            "desc" : "포커스 되지 않은 영역에 임의로 노출하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Round Tooltip -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Round Tooltip</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_017.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_018.png",
                            "desc" : "화면 내 레이아웃에 따라 시각적 밸런스를 맞춰 배치합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "dont",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_019.png",
                            "desc" : "설명하는 내용과 무관한 임의에 컬러를 사용하지 않습니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Image Tooltip -->
                  <div class="sub-content-container">
                    <div class="sub-content-area">
                      <div class="sub-content-top">
                        <div class="title-box">
                          <h3 class="title">Image Tooltip</h3>
                        </div>
                      </div>
                      <div class="sub-content-bottom">
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/image_content_box.html", {
                            "mode" : "dark",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_020.png",
                            "desc" : null
                          })
                        </div>
                        <div class="content-box">
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_021.png",
                            "desc" : "콘텐츠 시청을 최소한으로 방해하는 위치에 배치합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/color_box.html", {
                            "mode" : "dark",
                            "full" : "",
                            "state" : "do",
                            "image" : "../../../assets/images/ios/components/tooltip/tooltip_image_022.png",
                            "desc" : "최상단에 위치시켜 주요한 기능을 빠르게 안내합니다."
                          })
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Placement</span>
              <ul class="quick-menu-sub-list-box kor">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Tip 위치</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Bubble Tooltip</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Round Tooltip</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Image Tooltip</span>
                </li>
              </ul>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
              <ul class="quick-menu-sub-list-box">
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Bubble Tooltip</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Round Tooltip</span>
                </li>
                <li class="quick-menu-sub-list">
                  <span class="sub-list-title">Image Tooltip</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
