<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Dropdown",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "dropdown",
        "path" : "../.."
      })

      <!-- Components | Dropdown -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Dropdown</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">사용자가 클릭하면 추가 옵션 또는 메뉴가 펼쳐지는 버튼입니다.</p>
                  </div>
                  <div class="desc-box">
                    <ul class="sub-number-desc-list-box">
                      <li class="sub-number-desc-list">
                        <span>사용자가 드롭다운 버튼을 클릭하면, 확장된 드롭다운 목록이 표시됩니다.</span>
                      </li>
                      <li class="sub-number-desc-list">
                        <span>사용자가 선택하지 않아도 기본적으로 선택되어 있는 디폴트 옵션을 항상 제공합니다.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">컴포넌트에 포함되는 요소에 대한 정의입니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Dropdown/Mass_dropdown_1.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Option Text",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Title (Optional)",
                            "desc"  : "옵션 리스트에서 예상되는 내용을 사용자에게 알려주는 텍스트입니다. 텍스트 라벨만 보고 옵션을 예상할 수 있을 경우, 미노출합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Arrow",
                            "desc"  : "드롭다운 버튼의 열림/닫힘 상태를 나타내는 아이콘입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "5. Check",
                            "desc"  : "하위 옵션을 선택했을 때 해당 하위 옵션에 노출하는 아이콘입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "6. Background",
                            "desc"  : "드롭다운 버튼이 열린 상태가 되었을 때 노출합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      드롭다운 버튼의 상태에 따른 명확한 시각적 구분을 제공하여 사용자에게 현재 상태를 알려줘야 합니다.
                      상태 여부에 따라 적용되는 디자인이 달라집니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Dropdown/Mass_dropdown_2.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Focused",
                            "desc"  : "사용자가 드롭다운 버튼에 포커스 한 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Enabled",
                            "desc"  : "드롭다운 버튼의 일반적인 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Disabled",
                            "desc"  : "드롭다운 버튼에 포커스 할 수 없는 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Option Focused",
                            "desc"  : "사용자가 하위 옵션에 포커스 한 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "5. Option Enabled",
                            "desc"  : "하위 옵션의 일반적인 상태입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // States -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      드롭다운 메뉴는 주로 버튼 아래쪽에 펼쳐지며, 일반적으로 세로 방향으로 표시됩니다.<br />버튼과 메뉴
                      사이의 간격을 고려하여 메뉴가 자연스럽게 펼쳐지고 버튼과 겹치지 않도록 해야 합니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <ul class="sub-number-desc-list-box">
                      <li class="sub-number-desc-list">
                        <span
                          ><strong
                            >화면 하단 가장자리에 가까운 경우 메뉴가 잘리지않도록 위쪽으로 확장됩니다.</strong
                          ></span
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/web/components/Dropdown/Mass_dropdown_3.png",
                      "desc"  : "최하단에서는 위쪽으로 확장하여 잘리지 않도록 레이아웃을 조정합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/web/components/Dropdown/Mass_dropdown_4.png",
                      "desc"  : "최하단에서 아래쪽으로 확장하면 하위 옵션이 잘립니다."
                    })
                  </div>
                  <div class="content-box">
                    <div class="desc-box">
                      <ul class="sub-number-desc-list-box">
                        <li class="sub-number-desc-list">
                          <span><strong>하위 옵션이 일정 갯수 이상 초과될 경우 스크롤을 사용합니다.</strong></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/web/components/Dropdown/Mass_dropdown_5.png",
                      "desc"  : "하위 옵션이 많을 경우, 스크롤을 통해 간결하게 표현합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/web/components/Dropdown/Mass_dropdown_6.png",
                      "desc"  : "하위 옵션이 너무 길어지면 가독성이 좋지 않습니다. "
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">States</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
