<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Flag",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "flag",
        "path" : "../.."
      })

      <!-- Components | Flags -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Flags</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      새로운 콘텐츠, 알림에 대한 정보를 표시합니다. 아이콘, 텍스트, 숫자와 같은 요소를 함께 사용할 수
                      있습니다.<br />플래그는 사용자의 주목을 끌고 중요한 정보를 전달합니다.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">컴포넌트에 포함되는 요소에 대한 정의입니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Flag/Mass_flags_1.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text Label",
                            "desc"  : ""
                          })
                        </ul>
                      </div>
                    </div>
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Flag/Mass_flags_2.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text Label",
                            "desc"  : ""
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- Style -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Style</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">각 플래그의 종류에 따라 다른 스타일을 가집니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box reverse">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Flag/Mass_flags_3.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. 색상",
                            "desc"  : "중요도에 따라 플래그 색상을 다르게 지정합니다.\nRed > Blue > Gray 의 순으로 기능적  중요성을 가집니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Style -->

            <!-- Types -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Types</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Flag/Mass_flags_4.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "A. Poster Flag",
                            "desc"  : "콘텐츠 포스터 위에 붙는 플래그로, 콘텐츠에 대한 유용한 정보를 전달합니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "B. D-day Flag",
                            "desc"  : "기간에 관련된 표기를 나타내는 플래그입니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Types -->

            <!-- Container -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Container</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      플래그 내용 주위에 컨테이너를 반드시 표시합니다. 컨테이너는 다양한 방식으로 표시될 수 있습니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Flag/Mass_flags_5.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <li class="number-desc-list">
                            <span class="title">Layout</span>
                            <ul class="sub-number-desc-list-box">
                              <li class="sub-number-desc-list">
                                <span>가로폭은 플래그 내용의 길이에 따라 가변적으로 반응합니다. </span>
                              </li>
                              <li class="sub-number-desc-list">
                                <span>플래그의 꼭지점이 필요할 경우, 컨테이너 우하단에 위치합니다.</span>
                              </li>
                              <li class="sub-number-desc-list">
                                <span>좌/우에 최소 여백 값을 반드시 포함합니다.</span>
                              </li>
                              <li class="sub-number-desc-list">
                                <span>구성 요소는 가운데 정렬로 위치합니다.</span>
                              </li>
                            </ul>
                          </li>
                          <li class="number-desc-list">
                            <span class="title">Color</span>
                            <ul class="sub-number-desc-list-box">
                              <li class="sub-number-desc-list">
                                <span>컬러는 단색으로 표현합니다. </span>
                              </li>
                              <li class="sub-number-desc-list">
                                <span>중요도에 따라 지정된 색으로 동일하게 표현합니다. </span>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Container -->

            <!-- Layout -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Layout</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">지정된 위치인 콘텐츠 내 좌측 상단에만 플래그를 부착할 수 있습니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "no-border",
                      "image" : "../../../assets/images/web/components/Flag/Mass_flags_6.png",
                      "desc"  : null
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Layout -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Style</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Types</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Container</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Layout</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
