<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Flag",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "flag",
        "path" : "../.."
      })

      <!-- Components | Dropdown -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <img src="/dist/assets/images/temp/mass_component_flag.png" alt="" style="width: 100%"/>
          </div>
        </div>
      </main>

    </div>
  </body>
</html>
