<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | GNB",
    "path" : "../../.."
  })

  <style>
    .heading-bottom .image-content-box {
      flex: unset;
    }
    .heading-bottom .image-content-box:last-of-type {
      flex: 1;
    }
  </style>

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "gnb",
        "path" : "../.."
      })

      <!-- Components | GNB -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">GNB</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      Global Navigation Bar의 약자로, 서비스의 가장 기본적인 내비게이션을 담당하는 메뉴입니다.<br />서비스의
                      정체성을 전달하는 역할로 사용자 동선을 안내와 상위 레벨 탐색을 위해 제공되는 컴포넌트입니다.
                    </p>
                  </div>
                  <div class="desc-box">
                    <ul class="sub-number-desc-list-box">
                      <li class="sub-number-desc-list">
                        <span>GNB는 웹사이트의 모든 페이지에서 일관된 네비게이션을 제공합니다.</span>
                      </li>
                      <li class="sub-number-desc-list">
                        <span>사용자가 사이트 내에서 쉽게 이동하고 기능에 접근할 수 있도록 도와줍니다.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">컴포넌트에 포함되는 요소에 대한 정의입니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/GNB/Mass_gnb_1.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text label",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. GNB Icon",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Arrow (optional)",
                            "desc"  : "하위 Depth가 있을 경우 표시합니다."
                          })
                        </ul>
                      </div>
                    </div>
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/GNB/Mass_gnb_2.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text label",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. GNB Icon (optional)",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Additional Icon (optional)",
                            "desc"  : "설명하고자 하는 부가 정보를 표시합니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/GNB/Mass_gnb_3.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Menus",
                            "desc"  : ""
                          })
                        </ul>
                      </div>
                    </div>
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/GNB/Mass_gnb_4.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. 1depth Title",
                            "desc"  : "2depth 메뉴에 진입한 경로를 표기합니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Arrow",
                            "desc"  : "하단에 추가적인 숨겨진 메뉴가 있을 경우 노출합니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Menus",
                            "desc"  : ""
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      사용자가 현재 위치한 메뉴를 나타내기 위해 시각적으로 강조됩니다.<br />뎁스에 따라 다른 형상으로
                      나타납니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/GNB/Mass_gnb_5.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Focused",
                            "desc"  : "사용자가 해당 메뉴에 포커스한 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Enabled",
                            "desc"  : "일반적인 메뉴 상태입니다. "
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Selected",
                            "desc"  : "사용자가 해당 메뉴를 선택하여 진입한 상태입니다. "
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // States -->

            <!-- Layout -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Layout</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      GNB는 여러 수준의 하위 메뉴를 포함할 수 있습니다.<br />이는 사용자가 상위 메뉴에서 선택한 옵션에
                      따라 하위 메뉴가 동적으로 나타날 수 있는 기능을 의미합니다.<br />하위 메뉴는 사용자에게 더 많은
                      선택 옵션을 제공하고, 네비게이션의 깊이를 늘릴 수 있습니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box_type2.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/web/components/GNB/Mass_gnb_6.png",
                      "desc" : {
                        "alphabet" : "A",
                        "desc" : "GNB 1depth"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box_type2.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/web/components/GNB/Mass_gnb_7.png",
                      "desc" : {
                        "alphabet" : "B",
                        "desc" : "GNB 2depth"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Layout -->

            <!-- Additional -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Additional</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      GNB가 닫혀있을 경우에는, 아이콘을 통해 현재 위치한 메뉴를 간접적으로 보여줍니다.<br />fold GNB
                      상태에서는 메뉴를 변경할 수 없고 GNB로 진입한 이후에만 가능합니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box reverse">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/GNB/Mass_gnb_8.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <li class="number-desc-list">
                            <span class="title">Fold GNB</span>
                            <div class="text-box">
                              <p class="text">화면의 가장 좌측에 고정적으로 위치합니다.</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Additional -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">States</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Layout</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Additional</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
