<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Menus",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "menus",
        "path" : "../.."
      })

      <!-- Components | Menus -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Menus</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">메뉴는 선택할 수 있는 옵션 목록을 제공합니다.</p>
                  </div>
                  <div class="desc-box">
                    <ul class="sub-number-desc-list-box">
                      <li class="sub-number-desc-list">
                        <span>메뉴는 주로 목록 형태로 구성됩니다.</span>
                      </li>
                      <li class="sub-number-desc-list">
                        <span
                          >메뉴는 여러 수준의 하위 메뉴를 포함할 수 있습니다.<br />이는 사용자가 상위 메뉴에서 선택한
                          옵션에 따라 하위 메뉴가 동적으로 나타날 수 있는 기능을 의미합니다.</span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">컴포넌트에 포함되는 요소에 대한 정의입니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Menus/Mass_menus_1.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Background",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Logo",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "5. Arrow",
                            "desc"  : ""
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- States -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">States</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Menus/Mass_menus_2.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Focused",
                            "desc"  : "사용자가 해당 메뉴에 포커스한 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Selected",
                            "desc"  : "사용자가 해당 메뉴를 선택한 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Enabled",
                            "desc"  : "사용자가 해당 메뉴에 포커스하거나, 선택하지 않은 일반적인 상태입니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Disabled",
                            "desc"  : "선택 불가능한 상태입니다. "
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // States -->

            <!-- Layout -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Layout</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">메뉴는 화면의 좌측에 위치합니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box.html", {
                      "mode"  : "no-border",
                      "image" : "../../../assets/images/web/components/Menus/Mass_menus_3.png",
                      "desc"  : null
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Layout -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      사용자가 원하는 콘텐츠 또는 기능에 빠르게 접근할 수 있도록 해야 합니다.<br />따라서 메뉴 항목은
                      명확하고 이해하기 쉬운 용어 또는 아이콘으로 표시되어야 합니다.<br />긴 목록을 가진 경우에는
                      구조적으로 분류하고 그룹화하여 사용자가 찾고자 하는 옵션을 쉽게 발견할 수 있도록 해야 합니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <ul class="sub-number-desc-list-box">
                      <li class="sub-number-desc-list">
                        <span
                          ><strong
                            >메뉴 항목의 최대 글자수가 정의된 영역을 초과할 경우 ‘..’ 말줄임표 표기합니다.</strong
                          ></span
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/web/components/Menus/Mass_menus_4.png",
                      "desc"  : "메뉴 항목의 텍스트가 길어질 경우 말줄임표로 표기합니다."
                    })
                    <div class="color-box dont">
                      <div class="image-box">
                        <img src="../../../assets/images/web/components/Menus/Mass_menus_5.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">States</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Layout</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
