<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Popup",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "popup",
        "path" : "../.."
      })

      <!-- Components | Popup -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <div class="heading-container">
              <div class="heading-area">
                <div class="heading-top">
                  <div class="title-box">
                    <h1 class="title">Popup</h1>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      새 창 또는 레이어 형태로 나타나는 작은 창을 말합니다.<br />
                      이는 사용자가 주요 작업을 중단하지 않으면서 팝업에 포함된 내용과 상호 작용할 수 있도록 합니다.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Anatomy -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Anatomy</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">컴포넌트에 포함되는 요소에 대한 정의입니다.</p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Popup/Mass_popup_1.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Title",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Text",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "4. Buttons",
                            "desc"  : ""
                          })
                        </ul>
                      </div>
                    </div>
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Popup/Mass_popup_2.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "1. Container",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "2. Text",
                            "desc"  : ""
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "3. Sub text (optional)",
                            "desc"  : ""
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Anatomy -->

            <!-- Layout -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Layout</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      팝업의 유형에 따라 팝업의 노출 위치가 변경됩니다. 모달 팝업 화면의 중앙에, 토스트 팝업은 화면의
                      하단에 위치합니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box_type2.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/web/components/Popup/Mass_popup_3.png",
                      "desc" : {
                        "alphabet" : "A",
                        "desc" : "Modal Popup"
                      }
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/image_content_box_type2.html", {
                      "mode" : "",
                      "image" : "../../../assets/images/web/components/Popup/Mass_popup_4.png",
                      "desc" : {
                        "alphabet" : "B",
                        "desc" : "Toast Popup"
                      }
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Layout -->

            <!-- Type -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Type</h2>
                  </div>
                  <div class="desc-box">
                    <p class="desc">
                      팝업의 유형에 따라 팝업의 노출 위치가 변경됩니다. 모달 팝업 화면의 중앙에, 토스트 팝업은 화면의
                      하단에 위치합니다.
                    </p>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <div class="image-title-box">
                      <div class="image-title-top">
                        <!-- prettier-ignore -->
                        @@include("../component/image_content_box.html", {
                          "mode"  : "no-border",
                          "image" : "../../../assets/images/web/components/Popup/Mass_popup_5.png",
                          "desc"  : null
                        })
                      </div>
                      <div class="image-title-bottom">
                        <ul class="number-desc-list-box">
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "A. Modal popup",
                            "desc"  : "모달 팝업은 사용자가 팝업 외의 콘텐츠에 대한 접근을 제한합니다. \n사용자의 상호작용이 있어야지만 사라집니다."
                          })
                          <!-- prettier-ignore -->
                          @@include("../component/number_desc_list.html", {
                            "title" : "B. Toast popup",
                            "desc"  : "팝업은 특정 상황에서 사용자에게 추가적인 설명이나 안내를 제공할 수 있습니다. \n사용자의 상호작용이 없어도 자동으로 사라집니다."
                          })
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // Type -->

            <!-- Usage -->
            <div class="content-container">
              <div class="content-area">
                <div class="content-top">
                  <div class="title-box">
                    <h2 class="title">Usage</h2>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-box">
                    <ul class="sub-number-desc-list-box">
                      <li class="sub-number-desc-list">
                        <span>
                          사용자의 추가적인 인터렉션이 필요없는 단순한 안내 제공일 경우, Toast Popup을 통해 정보를
                          제공합니다.
                        </span>
                      </li>
                    </ul>
                  </div>
                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/web/components/Popup/Mass_popup_6.png",
                      "desc"  : "사용자를 방해하지 않는 팝업을 제공합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/web/components/Popup/Mass_popup_7.png",
                      "desc"  : "화면을 가리는 팝업으로 사용하지 않습니다."
                    })
                  </div>

                  <div class="content-box">
                    <ul class="sub-number-desc-list-box">
                      <li class="sub-number-desc-list">
                        <span>Modal Popup은 하나만 사용해야 합니다.</span>
                      </li>
                    </ul>
                  </div>

                  <div class="content-box">
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "do",
                      "image" : "../../../assets/images/web/components/Popup/Mass_popup_8.png",
                      "desc"  : "상황에 맞는 팝업을 제공합니다."
                    })
                    <!-- prettier-ignore -->
                    @@include("../component/color_box.html", {
                      "mode"  : "",
                      "full"  : "",
                      "state" : "dont",
                      "image" : "../../../assets/images/web/components/Popup/Mass_popup_9.png",
                      "desc"  : "중첩된 팝업은 사용하지 않습니다."
                    })
                  </div>
                </div>
              </div>
            </div>
            <!-- // Usage -->
          </div>
        </div>
      </main>

      <!-- Quick Menu -->
      <div class="quick-menu-container">
        <div class="quick-menu-area">
          <ul class="quick-menu-list-box">
            <li class="quick-menu-list">
              <span class="list-title">Anatomy</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Layout</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Type</span>
            </li>
            <li class="quick-menu-list">
              <span class="list-title">Usage</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
