<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Radio Button"
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components"
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "radio"
      })

      <!-- Components | Radio Button -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <img src="/dist/assets/images/temp/mass_component_radio.png" alt="" style="width: 100%"/>
          </div>
        </div>
      </main>

    </div>
  </body>
</html>
