<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  @@include("../component/head.html",{
    "title" : "Components | Controls | Switch",
    "path" : "../../.."
  })

  <body>
    <div class="wrapper">
      <!-- Header -->
      <!-- prettier-ignore -->
      @@include("../component/header.html", {
        "page" : "components",
        "link" : "../..",
        "path" : "../../.."
      })

      <!-- LNB -->
      <!-- prettier-ignore -->
      @@include("../component/lnb.html", {
        "title" : "switch",
        "path" : "../.."
      })

      <!-- Components | Controls | Switch -->
      <main class="main">
        <div class="main-container">
          <div class="main-area">
            <img src="../../../assets/images/temp/mass_component_switch.png" alt="" style="width: 100%" />
          </div>
        </div>
      </main>

      <!-- Footer -->
      <!-- prettier-ignore -->
      @@include("../component/footer.html")
    </div>
  </body>
</html>
