// Color Palette
$white: #ffffff;
$black: #000000;
$dark: #161524;
$purple: #491bc7;
$green: #05c654;
$red: #ff3535;
$orange: #fa8c00;

// Responsive
$tablet: 'screen and (max-width: 1468px)';
$tablet_1: 'screen and (max-width: 1280px)';
