.header-container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $purple;
  border-bottom: 1px solid #aaaaaa;

  .header-area {
    @include flex(row, flex-start, center);
    position: relative;
    height: 9.2rem;
  }
  .header-left {
    position: absolute;
    // top: 50%;
    // left: 4rem;
    // transform: translateY(-50%);
    min-width: 43.4rem;
    padding-left: 4rem;
  }

  .header-right {
    width: calc(100% - 57.2rem);
    padding-left: 32.6rem;
  }

  .header-logo-link {
    @include flex(row, flex-start, center);
    @include font(2.2rem, 700, $white, 2.7rem);
    white-space: nowrap;
    .text {
      margin-left: 0.8rem;
    }
  }

  .header-menu-list-box {
    @include flex(row, flex-start, center);
    position: relative;
    left: -4rem;
    width: 97.6rem;
    margin: 0 auto;

    .header-menu-list {
      opacity: 0.5;
      margin: 0 4rem;
      &.active {
        opacity: 1;
        .header-menu-link {
          font-weight: 600;
        }
      }
      .header-menu-link {
        @include font(2rem, 300, $white, 2.4rem);
      }
    }
  }

  .menu-button-box {
    display: none;

    .btn-menu {
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);

      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

@media #{$tablet} {
  .header-container {
    .header-area {
      height: 7rem;
    }

    .header-left {
      padding-left: 3rem;
    }

    .header-right {
      @include flex(row, flex-end, center);
      width: 100%;
      padding: 1.9rem 2rem;
    }

    .header-menu-list-box {
      display: none;
      position: fixed;
      top: 7.1rem;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0 3rem;
      background-color: $purple;
      box-sizing: border-box;

      &.expand {
        box-shadow: 0px 10px 40px rgba(112, 112, 112, 0.4);
        transition: box-shadow 4s;
      }

      .header-menu-list {
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;

        &:last-child {
          border-bottom: none;
        }
      }

      .header-menu-link {
        display: block;
        padding: 3rem 0;
      }
    }

    .menu-button-box {
      display: block;

      .hide {
        display: none;
      }
    }
  }
}
