.table-box {
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 0.8rem;
  table {
    font-family: 'SK_Btv';
    width: 100%;
    background-color: $white;
    thead {
      border-bottom: 1px solid #eee;
      th {
        padding: 5rem 2rem 2rem;
        @include font(1.8rem, 700, #242424, 2rem);
        text-align: left;
        &:first-child {
          padding-left: 4rem;
        }
        &:last-child {
          padding-right: 4rem;
        }
      }
    }

    tbody {
      tr {
        &:first-child {
          td {
            padding-top: 4rem;
          }
        }
        &:last-child {
          td {
            padding-bottom: 4rem;
          }
        }
      }
      td {
        padding: 0.7rem 2rem;
        @include font(1.6rem, 500, #242424, 2.8rem);
        word-break: keep-all;
        white-space: pre-line;
        text-align: left;
        &:first-child {
          padding-left: 4rem;
        }
        &:last-child {
          padding-right: 4rem;
          color: #4a4a4a;
        }
      }
    }
  }
}
